{% extends "basenueva.html" %}
{%load unslugify %}
{%block extra_header%}
    <script type="text/javascript">
    $(document).ready(function() {
        $(".agua").addClass("activa");
    });
    </script>
<script type="text/javascript">
    //si activo es 0 el html interno esta vacio
    //caso si activo es otro num sustituir grafico
    //si activo es el mismo id, esconder grafico
    var activo = 0; 
    function click_callback(url, id){
        $.getJSON(url + id, function(data) {
            if (activo!= url + id){
                $("#grafo").html('<img src="' + data.url + '" onload="cargar_altura();"/>');                
                activo = url + id;
            }else{
                $("#grafo").html('');                
                activo = 0;
            }            
        });        
    }
</script>
<script type="text/javascript">
$(document).ready(function () {
    $('.grafo').click(function(){
        $('.grafo').each(function(){
            $(this).removeClass('grafohover');
        });
       $(this).addClass('grafohover');
 //       click_callback('/grafo/agua-disponibilidad/', $(this).attr('id'));
    });
});
</script>
{%endblock%}
{% block barra %}

<div class="indicadores">
	{% include "nav_familia.html" %}
</div>
{% endblock %}

{% block content %}
{% include "encuestas/navegacion_superior.html" %} 
{% include "filtros.html" %}

<div class="contenido fulltabla">
    <div class="nuevotitulo"><a href="/menu" id="volver">&#9668; MENÚ | </a>FAMILIA &raquo; Agua para consumo humano <div class="secciones"><a href="/educacion" class="optionsbutton">Educación</a><a href="/salud" class="optionsbutton">Salud</a><a href="/luz"class="optionsbutton">Luz</a><a href="/agua"class="optionsbutton selected">Agua</a></div></div>
	<a href="#" class="exportar guardarXLS" onclick="exportarXLS('agua'); return false;"></a>
	<div class="clean"></div>
<div id="agua">	 
		<table style="width:100%;">
		<caption>Fuentes de consumo de agua </caption>
			<thead>
				<tr>
					<th>Fuente</th>
					<th>Frecuencia</th>
					<th>%</th>
				</tr>
			</thead>
			{% for fila in tabla%}
			<tr>
				{%for celda in fila%}
				<td>{{celda}}</td> 
				{%endfor%}
			</tr>
			{%endfor%}
		</table>
</div>
	<a href="#" class="exportar guardarXLS" onclick="exportarXLS('beber'); return false;"></a>
	<div class="clean"></div>
<div id="beber">	 
	    <table style="width:100%;">
	    <caption>Cómo trata el agua para beber y cocinar</caption>
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Frecuencia</th>
					<th>%</th>
				</tr>
			</thead>
			{% for fila in tratar%}
			<tr>
				{%for celda in fila%}
				<td>{{celda}}</td> 
				{%endfor%}
			</tr>
			{%endfor%}
		</table>
</div>
	<a href="#" class="exportar guardarXLS" onclick="exportarXLS('disponibilidad'); return false;"></a>
	<div class="clean"></div>
<div id="disponibilidad">
		<table style="width:100%;">
		<caption>Disponibilidad de agua para uso doméstico</caption>
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Frecuencia</th>
					<th>%</th>
				</tr>
			</thead>
			{% for fila in disponibilidad%}
			<tr>
				{%for celda in fila%}
				<td>{{celda}}</td> 
				{%endfor%}
			</tr>
			{%endfor%}
		</table>
		<br>
</div>
	<a href="#" class="exportar guardarXLS" onclick="exportarXLS('fuente'); return false;"></a>
	<div class="clean"></div>
<div id="fuente">
		<table style="width:100%;">
		<caption>Fuente de agua</caption>
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Frecuencia</th>
					<th>%</th>
				</tr>
			</thead>
			{% for fila in fuentes%}
			<tr>
				{%for celda in fila%}
				<td>{{celda}}</td> 
				{%endfor%}
			</tr>
			{%endfor%}
		</table>

</div>
	<a href="#" class="exportar guardarXLS" onclick="exportarXLS('bombeo'); return false;"></a>
	<div class="clean"></div>
<div id="bombeo">
		<table style="width:100%;">
		<caption>Equipos para bombeo</caption>
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Frecuencia</th>
					<th>%</th>
				</tr>
			</thead>
			{% for fila in bombeo%}
			<tr>
				{%for celda in fila%}
				<td>{{celda}}</td> 
				{%endfor%}
			</tr>
			{%endfor%}
		</table>
</div>
	<a href="#" class="exportar guardarXLS" onclick="exportarXLS('energia'); return false;"></a>
	<div class="clean"></div>
<div id="energia">
		<table style="width:100%;">
		<caption>Energía utilizada</caption>
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Frecuencia</th>
					<th>%</th>
				</tr>
			</thead>
			{% for fila in energia%}
			<tr>
				{%for celda in fila%}
				<td>{{celda}}</td> 
				{%endfor%}
			</tr>
			{%endfor%}
		</table>
</div>

</div>
	<div class="clean"></div>

{% endblock %}
