{% extends "basenueva.html" %}
{%load unslugify %}
{%block extra_header%}
    <script type="text/javascript">
    $(document).ready(function() {
        $(".luz").addClass("activa");
    });
    </script>
{%endblock%}
{% block barra %}
<div class="indicadores">
	{% include "nav_familia.html" %}
</div>
{% endblock %}

{% block content%}

{% include "filtros.html" %}

<div class="contenido fulltabla">
	<div class="subindicador">FAMILIA &raquo; Energía Eléctrica<a href="#" class="exportar guardarXLS" onclick="exportarXLS('modalidad'); return false;"></a></div>
	
<div id="modalidad">
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Fuente</th>
                <th>Frecuencia</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in tabla%}
            <tr>
                {%for celda in fila%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        <tbody>
    </table>
</div>
</div>
<div class="clean"></div>
{% endblock %}
