{% extends "basenueva.html" %}
{%load unslugify %}
{%block extra_header%}
<script type="text/javascript">
var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container',
         defaultSeriesType: 'column'
      },
      title: {
         text: '¿Tiene buena salud?'
      },
      subtitle: {
         text: ''
      },
      xAxis: {
         categories: [
            'Mujeres entre 16 y 30 años', 
            'Hombres entre 16 y 30 años'
         ]
      },
      yAxis: {
         min: 0,
         title: {
            text: '%'
         }
      },
      tooltip: {
         formatter: function() {
            return ''+
               this.x +': '+ this.y +' mm';
         }
      },
      plotOptions: {
         column: {
            pointPadding: 0.2,
            borderWidth: 0
         },
         series: {
                    pointWidth: 33,
                    minPointLength : 1
                }
      },
           series: [{
         name: 'Buena salud',
         data: [{{tabla_estado.0.2}},{{tabla_estado.1.2}}],
          dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
   
      }, {
         name: 'Salud delicada',
         data: [{{tabla_estado.0.3}},{{tabla_estado.1.3}}],
          dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
   
      }, {
         name: 'Enfermedades crónicas',
         data: [{{tabla_estado.0.4}},{{tabla_estado.1.4}}],
          dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
   
      }]
   });
   
   
});

var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container1',
         defaultSeriesType: 'column'
      },
      title: {
         text: 'Visita centros de atención de salud'
      },
      subtitle: {
         text: ''
      },
      xAxis: {
         categories: [
            'Mujeres entre 16 y 30 años', 
            'Hombres entre 16 y 30 años'
         ]
      },
      yAxis: {
         min: 0,
         title: {
            text: '%'
         }
      },
      tooltip: {
         formatter: function() {
            return ''+
               this.x +': '+ this.y +' mm';
         }
      },
      plotOptions: {
         column: {
            pointPadding: 0.2,
            borderWidth: 0
         },
         series: {
                    pointWidth: 33,
                    minPointLength : 1
                }
      },
           series: [{
         name: 'Visita centro de salud',
         data: [{{tabla_sitio.0.2}},{{tabla_sitio.1.2}}],
          dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
   
      }, {
         name: 'Visita médico privado',
         data: [{{tabla_sitio.0.3}},{{tabla_sitio.1.3}}],
          dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
   
      }, {
         name: 'Visita médico naturista',
         data: [{{tabla_sitio.0.4}},{{tabla_sitio.1.4}}],
          dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
   
      },
      {
         name: 'Se automedica',
         data: [{{tabla_sitio.0.4}},{{tabla_sitio.1.4}}],
          dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
   
      }]
   });
   
   
});
</script>
{%endblock%}
{% block titulo %}
Subindicador Salud
<div class="cambiar_indicador"><a href="#" id="mas">Cambiar indicador</a> <span id="estado" class="estadouno"><img src="/archivos/imagen/menos.png"/></span></div>
{%endblock%}
{% block content %}
{% include "encuestas/navegacion_superior.html" %} 
{% include "filtros.html" %}
<div class="contenido fulltabla">
    <div class="nuevotitulo"><a href="/menu" id="volver">&#9668; MENÚ | </a>FAMILIA &raquo; Salud <div class="secciones"><a href="/educacion" class="optionsbutton">Educación</a><a href="/salud" class="optionsbutton selected">Salud</a><a href="/luz"class="optionsbutton">Luz</a><a href="/agua"class="optionsbutton">Agua</a></div></div>
	<a href="#" class="exportar guardarXLS" onclick="exportarXLS('salud'); return false;"></a>
	<div class="clean"></div>
<div id="salud">	
    <table style="width:100%;">
    <caption>Estado de salud</caption>
        <thead>
            <tr>
                <th></th>
                <th>Frecuencia de consulta por edad</th>
                <th>%Buena Salud</th>
                <th>%Salud Delicada</th>
                <th>%Enfermedades Crónicas</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in tabla_estado%}
            <tr>
                {%for celda in fila%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        <tbody>
    </table>
</div>
<div class="contenedor">
        <div class="grafico-title"></div>
        <div id="container"></div>
</div>
<br>
	<a href="#" class="exportar guardarXLS" onclick="exportarXLS('centros'); return false;"></a>
	<div class="clean"></div>
<div id="centros">	
    <table style="width:100%;">
    <caption>Visita centros de salud</caption>
        <thead>
            <tr>
                <th></th>
                <th>Frecuencia de consulta por edad</th>
                <th>%Visita centro de salud</th>
                <th>%Visita médico privado</th>
                <th>%Visita médico naturista</th>
                <th>%Se automedica</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in tabla_sitio%}
            <tr>
                {%for celda in fila%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<div class="contenedor">
        <div class="grafico-title"></div>
        <div id="container1"></div>
</div>
</div>
<div class="clean"></div>

{% endblock %}
