{% extends "basenueva.html"%}
{% load humanize %}
{% block barra %}
{% endblock %}
{%load unslugify %}
{% block extra_header %}
<script type="text/javascript">
    var activo = 0;
    function click_callback(id){
        $.getJSON('/grafo/ingreso/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
</script>
<script type="text/javascript">
$(document).ready(function () {
    $('.grafo').click(function(){
        $('.grafo').each(function(){
            $(this).removeClass('grafohover');
        });
        $(this).addClass('grafohover');
    });
});
</script>
{% endblock %}
{%block content%}
{% include "encuestas/navegacion_superior.html" %}

{% include "filtros.html" %}
<div class="nuevotitulo"><a href="/menu" id="volver">&#9668; MENU | </a>INGRESO</div>
    <div class="sidebar" style="width:500px; padding-bottom:13px;" >
        <div class="subindicador">Gráficos ingresos</div>
            
            <a href="#" id="grafico1" onCLick="click_callback('libre')"class="grafo">Venta libre</a>
            <a href="#" id="grafico2" onCLick="click_callback('organizada')"class="grafo">Venta organizada</a>
            <div class="clean"></div>
        <div class="subindicador">Gráficos Otros ingresos</div>
            
             <a href="#" id="grafico4" onCLick="click_callback('salario')"class="grafo">Tipos de Salarios</a>
            <a href="#" id="grafico5" onCLick="click_callback('negocio')"class="grafo">Tipos de Negocio</a>
            <a href="#" id="grafico6" onCLick="click_callback('remesa')"class="grafo">Tipos Remesas</a>
            <a href="#" id="grafico7" onCLick="click_callback('alquiler')"class="grafo">Tipo alquiler</a>
            
       <div id="grafo"  style="width:500px; overflow-y:auto"></div>
    </div>
 <div class="contenido mediatabla" style="width:480px">
     <a href="#" class="exportar guardarXLS" onclick="exportarXLS('agroforestal'); return false;"></a>
<div id="agroforestal">
   <table style="width:480px; margin:5px;">
        <caption>Ingresos Agroforestales</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in agro.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_agro|intcomma}}</th>
        </tr>

    </table>
</div>

    <br>
     <a href="#" class="exportar guardarXLS" onclick="exportarXLS('forestales'); return false;"></a>
<div id="forestales">
    <table style="width:480px; margin:5px;">
        <caption>Forestales</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in forestal.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_forestal|intcomma}}</th>
        </tr>

    </table>
    </div>
    <br>
     <a href="#" class="exportar guardarXLS" onclick="exportarXLS('granos'); return false;"></a>
<div id="granos">
    <table style="width:480px; margin:5px;">
        <caption>Granos básicos</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in grano_basico.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_basico|intcomma}}</th>
        </tr>

    </table>
    </div>
    <br>
     <a href="#" class="exportar guardarXLS" onclick="exportarXLS('ganado'); return false;"></a>
<div id="ganado">
    <table style="width:480px; margin:5px;">
        <caption>Ganado mayor</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in ganado_mayor.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_ganado|intcomma}}</th>
        </tr>

    </table>

</div>
    <br>
     <a href="#" class="exportar guardarXLS" onclick="exportarXLS('animales'); return false;"></a>
<div id="animales">
    <table style="width:480px; margin:5px;">
        <caption>Animales de patio</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in patio.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_patio|intcomma}}</th>
        </tr>

    </table>
    </div>
    <br>
     <a href="#" class="exportar guardarXLS" onclick="exportarXLS('frutas'); return false;"></a>
<div id="frutas">
    <table style="width:480px; margin:5px;">
        <caption>Hortalizas y frutas</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in frutas.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_fruta|intcomma}}</th>
        </tr>

    </table>
    </div>
    <br>
         <a href="#" class="exportar guardarXLS" onclick="exportarXLS('musaceas'); return false;"></a>
<div id="musaceas">
    <table style="width:480px; margin:5px;">
        <caption>Musaceas</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in musaceas.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_musaceas|intcomma}}</th>
        </tr>

    </table>
    </div>
    <br>
     <a href="#" class="exportar guardarXLS" onclick="exportarXLS('tuberculo'); return false;"></a>
<div id="tuberculo">
    <table style="width:480px; margin:5px;">
        <caption>Raíces y tubérculos</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in raices.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_raices|intcomma}}</th>
        </tr>

    </table>
    </div>
    <br>
    <table style="width:480px; margin:5px;">
        <th>Ingreso agropecuario: {{respuesta.ingreso|intcomma}}</th>
    </table>
     <a href="#" class="exportar guardarXLS" onclick="exportarXLS('otros'); return false;"></a>
<div id="otros">
    <table style="width:480px; margin:5px;">
        <caption>Los Otros Ingresos familiares</caption>
        <thead>
            <tr>
                <th>Fuentes</th>
                <th>Numero de familias</th>
                <th>Total meses</th>
                <th>Ingreso mensual promedio</th>
                <th>Ingreso total promedio</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in matriz.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.frecuencia|floatformat}}</td>
                <td>{{value.meses|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>
                <td>{{value.ingresototal|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL OTROS INGRESO</th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{respuesta.ingreso_otro|intcomma}}</th>
        </tr>
    </table>
    </div>
    <br>
<div class="subindicador">INGRESO  &raquo; Ingreso Bruto por familia</div>
    <table style="width:480px; margin:5px;">
        <tr colspan="2">
            <th>INGRESO BRUTO</th>

            <th>{{respuesta.bruto|intcomma}}</th>
        </tr>
    </table>
    <div class="subindicador">INGRESO  &raquo; Ingreso Neto por familia</</a></div>
    <table style="width:480px; margin:5px;">
        <tr colspan="2">
            <th>INGRESO NETO</th>

            <th>{{respuesta.total_neto|intcomma}}</th>
        </tr>
    </table><br>
    </div>
<script type="text/javascript">
  $(function() {
    $("table#sortTableExample").tablesorter( {sortList: [[0,0], [1,0]]} );
    $("table#sortTableExample2").tablesorter( {sortList: [[0,0], [1,0]]} );
  });
</script>
</div>
<div class="clean"></div>

{%endblock%}
