{% extends "basenueva.html" %}
{%load unslugify %}
{% block barra %}
<div class="indicadores">
	{% include "nav_org.html" %}
</div>
{% endblock %}

{%block extra_header%}
<script type="text/javascript">
    $(document).ready(function() {
        $(".gremial").addClass("activa");
    });
</script>

<script type="text/javascript">
$(document).ready(function () {
    $('.grafo').click(function(){
        $('.grafo').each(function(){
            $(this).removeClass('grafohover');
        });
        $(this).addClass('grafohover');
    });
});

function Grafo1(){
       var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'grafo',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Es socio de una organización Gremial'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'   
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (%)'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 33,
                    minPointLength : 1
                }
            },
            series: [
            {%for k,v in tabla_gremial.items%}
                {   
                    name: '{{k|unslugify}}',
                    data: [{{v.porcentaje|floatformat:2}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 10px Verdana, sans-serif'
                                }
                                }
                     
                },
           {%endfor%}
                ]
        });
    }
</script>
{%endblock%}

{% block content %}
{% include "filtros.html" %}
<div class="sidebar">
    
<div class="subindicador">Gráficos</a></div>
       <a id="grafico1" href="#" onCLick="Grafo1();" class="grafo">Organización Gremial</a>
        
 <div id="grafo"></div>
</div> 

<div class="contenido mediatabla">
 
<div class="subindicador">Es socio/a de organización Gremial <a href="#" class="exportar"></a></div>
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>porcentaje %</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            {% for key, value in tabla_gremial.items %}
            <td>{{key|unslugify}}</td>
            <td>{{value.frecuencia|floatformat:2}}</td>
            <td>{{value.porcentaje|floatformat:2}}</td>
       </tr>
            {% endfor %}
            
       <tr>
            <th>TOTAL</th>
            <th>{{divisor|floatformat:2}}</th>
            <th>100</th>
      </tr>
       
       <tbody>
    </table>
<br>
<div class="subindicador">Desde cuando socios <a href="#" class="exportar"></a></div>
     <table  width="100%">
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>porcentaje %</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            {% for key, value in tabla_desde.items %}
            <td>{{key|unslugify}}</td>
            <td>{{value.frecuencia|floatformat:2}}</td>
            <td>{{value.porcentaje|floatformat:2}}</td>
       </tr>
            {% endfor %}
            
       <tr>
            <th>TOTAL</th>
            <th>{{divisor1|floatformat:2}}</th>
            <th>100</th>
      </tr>
       
       </tbody>
    </table>
<br>

</div>
<div class="clean"></div>
{% endblock %}
