{% extends "basenueva.html" %}

{% block extra_header %}
<script type="text/javascript">
function Grafo5(){
	var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'grafo',
            defaultSeriesType: 'column',
            height: 350,
            width: 520
        },
        title: {
            text: 'Labores'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Semilla',
                'Parcela',
                'Especies mayores',
                'Reforestación',
                'Patio',
                'Especies menores'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Cantidad Mz'
            }
        },

        tooltip: {
            formatter: function() {
                return ''+
                    this.series.name +': '+ this.y +'';
            }
        },
        plotOptions: {
            column: {
                groupPadding: 0,
                pointPadding: 0.9,
                borderWidth: 0
            },
            series: {
                pointWidth: 20,
                minPointLength : 1
            }
        },
        series: [
            {
                    name: 'Hijas',
                    data: [{{labores.semilla.Hijas}},{{labores.parcela.Hijas}},
                    {{labores.especies_mayores.Hijas}},{{labores.reforestacion.Hijas}},
                    {{labores.patio.Hijas}},{{labores.especies_menores.Hijas}}],
            },
            {
                    name: 'Hijos',
                    data: [{{labores.semilla.Hijos}},{{labores.parcela.Hijos}},
                    {{labores.especies_mayores.Hijos}},{{labores.reforestacion.Hijos}},
                    {{labores.patio.Hijos}},{{labores.especies_menores.Hijos}}],
            },
            {
                    name: 'Mujer',
                    data: [{{labores.semilla.Mujer}},{{labores.parcela.Mujer}},
                    {{labores.especies_mayores.Mujer}},{{labores.reforestacion.Mujer}},
                    {{labores.patio.Mujer}},{{labores.especies_menores.Mujer}}],
            },
            {
                    name: 'Hombre',
                    data: [{{labores.semilla.Hombre}},{{labores.parcela.Hombre}},
                    {{labores.especies_mayores.Hombre}},{{labores.reforestacion.Hombre}},
                    {{labores.patio.Hombre}},{{labores.especies_menores.Hombre}}],
            },
            
                ]
    });
}

function Grafo6(){
	var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'grafo',
            defaultSeriesType: 'column',
            height: 350,
            width: 520
        },
        title: {
            text: 'Beneficios'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Semilla',
                'Parcela',
                'Especies mayores',
                'Reforestación',
                'Patio',
                'Especies menores'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Cantidad Mz'
            }
        },

        tooltip: {
            formatter: function() {
                return ''+
                    this.series.name +': '+ this.y +'';
            }
        },
        plotOptions: {
            column: {
                groupPadding: 0,
                pointPadding: 0.9,
                borderWidth: 0
            },
            series: {
                pointWidth: 20,
                minPointLength : 1
            }
        },
        series: [
            {
                    name: 'Hijas',
                    data: [{{beneficio.semilla.Hijas}},{{beneficio.parcela.Hijas}},
                    {{beneficio.especies_mayores.Hijas}},{{beneficio.reforestacion.Hijas}},
                    {{beneficio.patio.Hijas}},{{beneficio.especies_menores.Hijas}}],
            },
            {
                    name: 'Hijos',
                    data: [{{beneficio.semilla.Hijos}},{{beneficio.parcela.Hijos}},
                    {{beneficio.especies_mayores.Hijos}},{{beneficio.reforestacion.Hijos}},
                    {{beneficio.patio.Hijos}},{{beneficio.especies_menores.Hijos}}],
            },
            {
                    name: 'Mujer',
                    data: [{{beneficio.semilla.Mujer}},{{beneficio.parcela.Mujer}},
                    {{beneficio.especies_mayores.Mujer}},{{beneficio.reforestacion.Mujer}},
                    {{beneficio.patio.Mujer}},{{beneficio.especies_menores.Mujer}}],
            },
            {
                    name: 'Hombre',
                    data: [{{beneficio.semilla.Hombre}},{{beneficio.parcela.Hombre}},
                    {{beneficio.especies_mayores.Hombre}},{{beneficio.reforestacion.Hombre}},
                    {{beneficio.patio.Hombre}},{{beneficio.especies_menores.Hombre}}],
            },
            
                ]
    });
}
function Grafo7(){
	var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'grafo',
            defaultSeriesType: 'column',
            height: 350,
            width: 520
        },
        title: {
            text: 'Toma de decisiones'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Semilla',
                'Parcela',
                'Especies mayores',
                'Reforestación',
                'Patio',
                'Especies menores'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Cantidad Mz'
            }
        },

        tooltip: {
            formatter: function() {
                return ''+
                    this.series.name +': '+ this.y +'';
            }
        },
        plotOptions: {
            column: {
                groupPadding: 0,
                pointPadding: 0.9,
                borderWidth: 0
            },
            series: {
                pointWidth: 20,
                minPointLength : 1
            }
        },
        series: [
            {
                    name: 'Hijas',
                    data: [{{deciciones.semilla.Hijas}},{{deciciones.parcela.Hijas}},
                    {{deciciones.especies_mayores.Hijas}},{{deciciones.reforestacion.Hijas}},
                    {{deciciones.patio.Hijas}},{{deciciones.especies_menores.Hijas}}],
            },
            {
                    name: 'Hijos',
                    data: [{{deciciones.semilla.Hijos}},{{deciciones.parcela.Hijos}},
                    {{deciciones.especies_mayores.Hijos}},{{deciciones.reforestacion.Hijos}},
                    {{deciciones.patio.Hijos}},{{deciciones.especies_menores.Hijos}}],
            },
            {
                    name: 'Mujer',
                    data: [{{deciciones.semilla.Mujer}},{{deciciones.parcela.Mujer}},
                    {{deciciones.especies_mayores.Mujer}},{{deciciones.reforestacion.Mujer}},
                    {{deciciones.patio.Mujer}},{{deciciones.especies_menores.Mujer}}],
            },
            {
                    name: 'Hombre',
                    data: [{{deciciones.semilla.Hombre}},{{deciciones.parcela.Hombre}},
                    {{deciciones.especies_mayores.Hombre}},{{deciciones.reforestacion.Hombre}},
                    {{deciciones.patio.Hombre}},{{deciciones.especies_menores.Hombre}}],
            },
            
                ]
    });
}

</script>

<script type="text/javascript">
    //si activo es 0 el html interno esta vacio
    //caso si activo es otro num sustituir grafico
    //si activo es el mismo id, esconder grafico
    var activo = 0;
    $.ajaxSetup({ cache: false });
    function click_callback(id){
        $.getJSON('/grafo/fincas/' + id, function(data) {
            if (activo != id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
</script>
    <script type="text/javascript">
    $(document).ready(function() {
        $(".usotierra").addClass("activa");
    });
    </script>
<script type="text/javascript">
    //si activo es 0 el html interno esta vacio
    //caso si activo es otro num sustituir grafico
    //si activo es el mismo id, esconder grafico
    var activo = 0; 
    function click_callback(id){
        $.getJSON('/grafo/fincas/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
</script>
<script type="text/javascript">
$(document).ready(function () {
    $('.grafo').click(function(){
        $('.grafo').each(function(){
            $(this).removeClass('grafohover');
        });
       $(this).addClass('grafohover');
    });
});
</script>
{%endblock%}
{% block content%}
{% include "encuestas/navegacion_superior.html" %}
<div class="nuevotitulo"><a href="/menu" id="volver">&#9668; MENÚ | </a>PARTICIPACIÓN DE LA FAMILIA</div>
{% include "filtros.html" %}
<div class="sidebar">
    <div class="subindicador">Gráficos</a></div>
        <a href="#" id="grafico3" onclick="Grafo5();" class="grafo">Labores</a>
        <a href="#" id="grafico2" onclick="Grafo6();" class="grafo">Beneficios</a>
        <a href="#" id="grafico2" onclick="Grafo7();" class="grafo">Toma de decisión</a>
        <div class="clean"></div>
<div id="grafo"></div>
</div>

<div class="contenido mediatabla">
             <a href="#" class="exportar guardarXLS" onclick="exportarXLS('labores'); return false;"></a>
<div id="labores">
    <table style="width:430px; margin:5px;">
    <caption>Participación de la familia en labores</caption>
        <thead>
            <tr>
                <th></th>
                <th>Hijas</th>
                <th>Hijos</th>
                <th>Mujer</th>
                <th>Hombre</th> 
            </tr>
        </thead>
        <tbody>
            {%for key, value in labores.items%}
            <tr>
                <td>{{key}}</td>
                {%for k,v in value.items%}
                <td>{{v}}</td>
                {%endfor%}            
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
  <br>
         <a href="#" class="exportar guardarXLS" onclick="exportarXLS('beneficios'); return false;"></a>
<div id="beneficios">
  <table style="width:430px; margin:5px;;">
    <caption>Beneficios</caption>
        <thead>
            <tr>
                <th></th>
                <th>Hijas</th>
                <th>Hijos</th>
                <th>Mujer</th>
                <th>Hombre</th> 
            </tr>
        </thead>
        <tbody>
            {%for key, value in beneficio.items%}
            <tr>
                <td>{{key}}</td>
                {%for k,v in value.items%}
                <td>{{v}}</td>
                {%endfor%}            
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
    <br>
         <a href="#" class="exportar guardarXLS" onclick="exportarXLS('decision'); return false;"></a>
<div id="decision">
    <table style="width:430px; margin:5px;">
    <caption>Toma de decisión</caption>
        <thead>
            <tr>
               <th></th>
                <th>Hijas</th>
                <th>Hijos</th>
                <th>Mujer</th>
                <th>Hombre</th> 
            </tr>
        </thead>
        <tbody>
            {%for key, value in deciciones.items%}
            <tr>
                <td>{{key}}</td>
                {%for k,v in value.items%}
                <td>{{v}}</td>
                {%endfor%}            
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
</div>
<div class="clean"></div>
{% endblock %}
