{% extends 'basenueva.html'%}

{% block content %}
{% include "encuestas/navegacion_superior.html" %} 
<div class="nuevotitulo">Acerca del Sistema</div>
<div style="padding:10px;">
<br>
<p>
Este sistema de información, se presenta como una herramienta del proyecto PROGA – Jóvenes, para
ayudarnos a entender la realidad social, económica y del medioambiente, en el que se desenvuelven las
familias, en el ámbito rural de la región de Las Segovias, Nicaragua. Los datos recogidos entre las y los
jóvenes participantes del proyecto, nos permitirán medir avances y cambios. También, serán útiles en la
evaluación de las situaciones críticas para corregir y mejorar.
</p>
<p>
Esta línea de base, proporciona información sobre la seguridad alimentaria de las y los jóvenes
participantes, el tipo de organización social existente en las comunidades, el acceso a la tierra y al recurso
agua, el suelo, los recursos naturales existentes en las diferentes parcelas, los animales, los cultivos de
la parcela o la finca, el manejo agroecológico existente, las variedades y orígenes de las semillas que se
están utilizando para cultivar.
</p>
<p>
En términos de las relaciones de igualdad entre mujeres y hombres, nos procurará información para saber
quienes participan:
</p>
<ul>
<li>En la toma las decisiones sobre las labores y beneficios de la parcela</li> 
<li>Sobre las diferentes formas de transformación de productos, la comercialización y el manejo de
los recursos económicos.</li> 
</ul>
<p>
Finalmente, nos procura información sobre las vulnerabilidades o fortalezas de las parcelas frente a los
fenómenos naturales y los cambios climáticos.
</p>
</div>
</div>
{% endblock %}
