{% extends 'base.html'%}

{% block contenido %}
<style type="text/css" media="screen">
/* <![CDATA[ */
h1 {font-size: 16px; color:#000}
h2 {font-size: 14px; color: #8C8F3D}
p {font-size: 13px;}
#acerca {padding: 16px;}
/* ]]> */
</style>
<div id="acerca">
<br>
<h1>Acerca del Sistema de Monitoreo de GPAE.</h1>
<br>
<h2>¿Por qué un sistema de monitoreo?</h2>
<br>
<p>El Grupo Promotor de la Agricultura Ecológica (GPAE), es un espacio de coordinación
interinstitucional constituida por organizaciones no gubernamentales locales y nacionales,
interesadas en la promoción de prácticas agro ecológicas, la facilitación de espacios de
debates y reflexión sobre el tema y la realización de propuestas concretas a los tomadores
de decisiones.</p>
<br>
<p>Durante el año 2010, el GPAE elaboró y aprobó su Plan Estratégico 2010-2014 y cuyo
objetivo estratégico es <em>“que las familias campesinas innovan e implementan la agricultura
ecológica con equidad para mejorar sus condiciones de vida ante la situación de crisis
ambiental y de inseguridad alimentaria”</em>.</p>
<br>
<p>Para verificar el cumplimiento de su objetivo estratégico, se diseña el <strong>Sistema de Monitoreo</strong>
para documentar el cumplimiento del Plan Estratégico, mediante indicadores que permitan
identificar avances en cuanto a Familia, Organización, Acceso a tierra, Animales, Cultivos,
Opciones de manejo, Uso de Semilla, Ingresos, Bienes, Crédito, Seguridad Alimentaria y
Riesgos.</p>
<br>
<h2>¿De dónde provienen los datos que alimenta el sistema de monitoreo?</h2>
<br>
<p>Toda la información generada por el sistema de monitoreo se obtiene a través de la
aplicación de una encuesta a familias beneficiarias en los ocho departamentos donde las
organizaciones socias trabajan. Actualmente, GPAE tiene presencia en los departamentos
de Jinotega, Matagalpa, Estelí, Nueva Segovia, Granada, Carazo, Boaco y Managua. Esta
encuesta se levanta una vez al año y permite medir avances con respecto años anteriores.</p>
<br>
<h2>¿Qué obtendremos del sistema de monitoreo?</h2>
<br>
<p>El sistema de monitoreo permite al usuario filtrar resultados por departamento, municipio,
comunidad, encuestado y sexo, generando datos que se muestran en cuadros y gráficos
dinámicos. Los resultados de los datos pueden copiarse fácilmente para ser utilizadas en el
proceso de elaboración de informes que pueden ser compartidos con beneficiarios, donantes
y sociedad en general.</p>
<br></br>
</div>
{% endblock %}
