<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
<link href="{{STATIC_URL}}css/proga.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/highcharts.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/exporting_patched.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/grafico.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/table.exporting.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cookie.js"></script>
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
<title>Sistema de Monitoreo PROGA | {%block title%}{%endblock%}</title>
    <script type="text/javascript">
    $(document).ready(function() {
        alto = $(".contenido").height();
        $('.sidebar').height(alto);
        $('#filtroslaterales').height(alto);
    });
</script>
    {%block extra_header%}{%endblock%}
</head>

<body>
<div class="wrapper">
	<div class="main">
        <div id="header">
            <div id="logo"></div>
        </div>
        {%block content%}
        {%endblock%}
	</div>	
</div>
<div class="footer">
	<center>
		Desarrollado por  <a href="http://www.simas.org.ni">SIMAS</a>, bajo plataforma <a href="http://djangoproject.org">Django</a>
	</center>
</div>
</body>
</html>
