<div id="filtroslaterales">
    <div class="nombrefiltro">Encuestas</div>
    <div class="filtrovalor">{{num_familias}}</div>
    
    <div class="nombrefiltro">Filtros </div>
                    {%if request.session.fecha%}
                    <div class="filtrovalor"><b>Año</b><br>{{request.session.fecha}}</div>{%endif%}
                    {%if request.session.sexo%}
                    <div class="filtrovalor"><b>Sexo:</b><br>{%if request.session.sexo = '1'%}Hombre{%endif%}{%if request.session.sexo = '2'%}Mujer{%endif%}</div>{%endif%}
                    {%if request.session.departamento%}
                    <div class="filtrovalor"><b>Departamento:</b><br>{{request.session.departamento.nombre}}</div>{%endif%}
                    {%if request.session.municipio%}
                    <div class="filtrovalor"><b>Municipio</b><br>{{request.session.municipio.nombre}}</div>{%endif%}
                    {%if request.session.comunidad%}
                    <div class="filtrovalor"><b>Comunidad</b><br>{{request.session.comunidad.nombre}}</div>{%endif%}
    
                   {%if request.session.duenio%}
                   <div class="filtrovalor"><b>Tipo Dueño:</b><br>{{ request.session.duenio.nombre}}</div>{%endif%}
</div>
