{% extends "basenueva_bootstrap.html" %}
{% load unslugify %}
{%block extra_header%}
    <script type="text/javascript">
        $(document).ready(function() {
            var departamento = document.getElementById("id_departamento");
            //var organizacion = document.getElementById("id_organizacion");
            var municipio = document.getElementById("id_municipio");
            var comunidad= document.getElementById("id_comunidad");
            //organizacion.options[0] = new Option("Organización");
            //organizacion.options[0].value = '';
            municipio.options[0] = new Option("Municipio");
            municipio.options[0].value = '';
            comunidad.options[0] = new Option("Comunidad");
            comunidad.options[0].value = '';

            //municipios
            $("#id_departamento").change(function () {
                var index = departamento.options.selectedIndex;
                var id = departamento.options[index].value;
                if(id != ''){
                    $.getJSON("ajax/municipio/" + id +"/",
                            function(data){
                                municipio.options.length = 0;
                                comunidad.options.length = 0;
                                municipio.options[0] = new Option("Municipio");
                                municipio.options[0].value = '';
                                comunidad.options[0] = new Option("Comunidad");
                                comunidad.options[0].value = '';
                                for(i=0; i< data.length; i++){
                                    municipio.options[i+1] = new Option(data[i][1], data[i][0]);
                            }
                    });
                }
            });

            //comunidad
            $("#id_municipio").change(function () {
                var index = municipio.options.selectedIndex;
                var id = municipio.options[index].value;
                $.getJSON("ajax/comunidad/" + id +"/",
                function(data){
                    comunidad.options.length = 0;
                    comunidad.options[0] = new Option("Comunidad");
                    comunidad.options[0].value = '';
                    for(i=0; i< data.length; i++){
                        comunidad.options[i+1] = new Option(data[i][1], data[i][0]);
                    }
                });
            });

        });
    </script>
    <script>
        function show_informe_menu_de_tipo(tipo)
        {
            $('#formulario_nuevosinformes').hide();
            $('#formulario_informes').hide();
            $('.submit_button_wrapper').hide();

            if (tipo  == "informes_originales")
            {
                $('#formulario_informes').show();
                $('.submit_button_wrapper').show();
            } else if (tipo == "informes_nuevos") {
                $('#formulario_nuevosinformes').show();
                $('.submit_button_wrapper').show();
            }
        }

        $( document ).ready(function() {
            $('.select2').select2();

            show_informe_menu_de_tipo($("#id_informe_tipo").val())
            show_solo_jovenes_con_dos ($("#id_numero_encuesta").val())

            //Cuando el usario cambia de tipo de informe.
            $("#id_informe_tipo").change(function () {
                show_informe_menu_de_tipo($(this).val())
            });

            //Encuesta comparar(3): necesitamos saber si utilisamos solo jovenes que tienen 2 encuestas
            $("#id_numero_encuesta").change(function () {
                show_solo_jovenes_con_dos($(this).val())
            });
        });

    </script>
{%endblock%}
{% block content %}
    <div class="page_header_wrapper">
        <div id="menu" class="container-fluid">
            <div class="row">
                <div class="col-md-2 menu_logo_wrapper">
                    <img src="{{STATIC_URL}}img/logogrande.png">
                </div>
                <div id="menu_form_wrapper" class="col-md-8">
                    <div id="formindex">

                        <form action="." method="POST" class="form">
                            {% csrf_token %}
                            <h3>Paso 1 - Qué tipo de informes?</h3>
                            <div class="form_widget">{{form.informe_tipo}}<br>{{form.informe_tipo.errors}}</div>

                            <div class="formulario_consulta" id="formulario_informes">
                                    <h3>Paso 2 - Definir los parámetros</h3>
                                   <table class="table table-bordered">
                                       <tr>
                                           <td>
                                                <div class="form_widget date_widget">{{form.fecha}}<br>{{form.fecha.errors}}</div>
                                                <div class="form_widget">{{form.sexo}}</div>
                                           </td>
                                           <td>
                                                <div class="form_widget">{{form.departamento}}</div><br>
                                                <div class="form_widget">{{form.municipio}}</div><br>
                                                <div class="form_widget">{{form.comunidad}}</div>
                                           </td>
                                           <td>
                    <!--                            <div class="form_widget">{{form.organizacion}}</div>-->
                                                <div class="form_widget">{{form.dueno}}</div>
                                           </td>
                                       </tr>
                                   </table>


                            </div>

                            <div class="formulario_consulta"  id="formulario_nuevosinformes">
                                    <h3>Paso 2 - Definir los parámetros</h3>
                                   <table class="table table-bordered">
                                       <tr>
                                           <td class="table_param_leftcol">Grupos</td>
                                           <td>{{form.grupo}}<br>{{form.grupo.errors}}</td>
                                       </tr>
                                       <tr>
                                           <td class="table_param_leftcol">Centros regionales</td>
                                           <td>{{form.centroregional}}<br>{{form.centroregional.errors}}</td>
                                       </tr>
                                       <tr>
                                           <td class="table_param_leftcol">Sexo</td>
                                           <td>{{form.sexo_encuesta}}</td>
                                       </tr>
                                       <tr>
                                           <td class="table_param_leftcol">Encuestas</td>
                                           <td>{{form.numero_encuesta}}<br>{{form.numero_encuesta.errors}}
                                               <div id="solo_jovenes_con_dos_wrapper">
                                                   {{form.solo_jovenes_con_dos}} Utilizar solo los datos de jóvenes que tienen dos encuestas rellenadas?
                                               </div>
                                               <div id="solo_jovenes_activados">
                                                   {{form.activo}} Solo jóvenes activados?
                                               </div>

                                           </td>
                                       </tr>
                                       <tr>
                                           <td class="table_param_leftcol">Indicador</td>
                                           <td>{{form.indicador}}<br>{{form.indicador.errors}}</td>
                                       </tr>
                                   </table>



                            </div>
                            <div class="submit_button_wrapper">
                                <input type="submit" value="Consultar" class="consultar btn btn-primary"/>
                            </div>

                        </form>


                    </div>

                </div>
                <div id="encolaboracion_wrapper" class="col-md-2">
                    <div id="home_logos">
                        <div id="encolaboracion">En colaboración</div>
                        <a href="#"><img src="{{STATIC_URL}}img/canadalogo.jpg"></a>
                        <a href="#"><img src="{{STATIC_URL}}img/cooperacioncanadalogo.jpg"></a>
                        <a href="#"><img src="{{STATIC_URL}}img/sucologo.jpg"></a>
                        <a href="#"><img src="{{STATIC_URL}}img/inprhu.jpg"></a>
                        <a href="#"><img src="{{STATIC_URL}}img/inatec.jpg"></a>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 estadisticas_generales">
                    <a href="/general">Estadísticas generales</a>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>

    </div>


    <div class="container-fluid" id="franjaverde">
        <div class="row">
            <div class="col-md-2">
                <div class="tituloverde">Acerca del sistema</div>
            </div>
            <div class="col-md-4">
                <div id="acercade">
                    Este sistema de información, se presenta como una herramienta del proyecto PROGA – Jóvenes, para
            ayudarnos a entender la realidad social, económica y del medioambiente, en el que se desenvuelven las
            familias, en el ámbito rural de la región de Las Segovias, Nicaragua. Los datos recogidos entre las y los
            jóvenes participantes del proyecto, nos permitirán medir avances y cambios.<br> <a href="/acerca" class="btn btn-primary">leer más</a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tituloverde">¿Cómo se usa?</div>
            </div>
            <div class="col-md-4">
                <div id="ayuda">
                    Esta guía le permitirá conocer el funcionamiento del sistema y poder obtener información de la línea de base del proyecto PROGA-Jóvenes, tales como: productividad, actividades agroecológicas, producción y comercialización, entre otras.
                    <a href="{{STATIC_URL}}img/manualUsuarioSUCO.pdf"><img src="{{STATIC_URL}}img/descargar_ayuda.jpg" align="right" style="margin-top:10px;"></a>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid">
        <div class="row">
            {%for lugar in depart%}
            <div class="bloque_dept col-md-3">
                <div class="nombre_dept">{{lugar.0}}</div>
                <div class="circle_encuesta"> {{lugar.1}} <br> <span class="cantidad">Encuestas</span></div>
                <img class="mapita"src="{{STATIC_URL}}img/{{lugar.0}}.jpg"  class="img-responsive">
                <img src="{{STATIC_URL}}img/joven{{lugar.2}}.jpg" class="img-responsive">
                <div class="clean"></div>
            </div>
            {%endfor%}
            <div class="bloque_dept personas col-md-3">
                <div class="nombre_dept">Sexo de encuestados</div>
                <div class="clean"></div>
                <div class="circle_encuesta_gen">{{mujeres}} <br> <span class="cantidad">Encuestas</span></div>
                <div class="circle_encuesta_gen">{{hombres}} <br> <span class="cantidad">Encuestas</span></div>
                <div class="clean"></div>
            </div>
        </div>

    </div>

{% endblock %}