{% extends "basenueva_bootstrap.html" %}
{% load unslugify %}
{% load tools %}
{%block extra_header%}
    <script>
        $(document).ready( function () {
        });
    </script>
{%endblock%}
{% block content %}
    <br/>
    <a href="/validacion">Atrás</a>
    <h1>Validación de datos - {{ centro }}</h1>
    <p><strong>Paso 2</strong></p>
    <p>Por favor escoger el grupo:</p>

    {% for grupo in grupos %}
        <a href="{% url validacion_jovenlist centro.id grupo.id %}" class="btn btn-primary">{{ grupo }}</a>
    {% endfor %}

{% endblock %}
