{% extends "basenueva_bootstrap.html" %}
{% load unslugify %}
{% load tools %}
{%block extra_header%}
    <script>
        $(document).ready( function () {
        });
    </script>
{%endblock%}
{% block content %}

    {% include "nuevos_informes/common/parametros.html" %}


    <h2>Datos</h2>
    <h3 style="padding-bottom:20px;">Cultivos en la finca <a href="#" style="float:right" class="exportar guardarXLS btn btn-warning" onclick="exportarXLS('finca'); return false;">Exportar en Excel</a></h3>



        <div id="finca" style="width:100%; overflow-x: scroll">
            <div class="table-responsive" >
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>CULTIVOS</th>

                            <th class="last_datagroup_col">Unidad</th>

                            <th>Áreas{% if numero_encuesta == "3" %}<br/><small>Encuesta 1</small>{% endif %}</th>
                            {% if numero_encuesta == "3" %}
                                <th>Áreas <br/><small>Encuesta 2</small></th>
                                <th class="last_datagroup_col">Áreas <br/><small>Diferencia</small></th>
                            {% endif %}


                            <th>Total producción por año{% if numero_encuesta == "3" %}<br/><small>Encuesta 1</small>{% endif %} <small>En su unidad</small></th>
                            {% if numero_encuesta == "3" %}
                                <th>Total producción por año <br/><small>Encuesta 2</small><br/><small>En su unidad</small></th>
                            {% endif %}

                            <th>Total producción por año{% if numero_encuesta == "3" %}<br/><small>Encuesta 1</small>{% endif %}<br/><small>Kilos (Kg)</small></th>
                            {% if numero_encuesta == "3" %}
                                <th>Total producción por año <br/><small>Encuesta 2</small><br/><small>Kilos (Kg)</small></th>
                                <th class="last_datagroup_col">Total producción por año <br/><small>Diferencia</small></th>
                            {% endif %}

                            <th>KG por m<sup>2</sup>{% if numero_encuesta == "3" %}<br/><small>Encuesta 1</small>{% endif %}</th>
                            {% if numero_encuesta == "3" %}
                                <th>KG por m<sup>2</sup><br/><small>Encuesta 2</small></th>
                                <th class="last_datagroup_col">KG por m<sup>2</sup><br/><small>Diferencia</small></th>
                            {% endif %}

                            <th>Consumo por año{% if numero_encuesta == "3" %}<br/><small>Encuesta 1</small>{% endif %}<br/><small>En su unidad</small></th>
                            {% if numero_encuesta == "3" %}
                                <th>Consumo por año <br/><small>Encuesta 2</small><br/><small>En su unidad</small></th>
                            {% endif %}

                            <th>Consumo por año{% if numero_encuesta == "3" %}<br/><small>Encuesta 1</small>{% endif %}<br/><small>Kilos (Kg)</small></th>
                            {% if numero_encuesta == "3" %}
                                <th>Consumo por año <br/><small>Encuesta 2</small><br/><small>Kilos (Kg)</small></th>
                                <th class="last_datagroup_col">Consumo<br/><small>Diferencia</small></th>
                            {% endif %}



                            <th>Precio promedio de venta en mercado promedio{% if numero_encuesta == "3" %}<br/><small>Encuesta 1</small>{% endif %}</th>
                            {% if numero_encuesta == "3" %}
                                <th>Precio promedio de venta en mercado promedio <br/><small>Encuesta 2</small></th>
                                <th class="last_datagroup_col">Precio<br/><small>Diferencia</small></th>
                            {% endif %}

                            <th>Valor producida {% if numero_encuesta == "3" %}<br/><small>Encuesta 1</small>{% endif %}</th>
                            {% if numero_encuesta == "3" %}
                                <th>Valor producida <br/><small>Encuesta 2</small></th>
                                <th class="last_datagroup_col">Valor<br/><small>Diferencia</small></th>
                            {% endif %}



                        </tr>
                    </thead>
                    <tbody>
                        {%for key, value in data.tablas.tabla_cultivos.items%}
                        <tr>
                            <td>
                                {{key|unslugify}}
                            </td>

                            <td class="last_datagroup_col">{{value.key2|unslugify}}</td>

                            <td>{{value.area1}}</td>
                            {% if numero_encuesta == "3" %}
                                <td>{{value.area2|floatformat:2}}</td>
                                <td class="last_datagroup_col format_diff">{{value.area_diff|percent}}</td>
                            {% endif %}


                            <td>{{value.totales1|floatformat:2}}</td>
                            {% if numero_encuesta == "3" %}
                                <td>{{value.totales2|floatformat:2}}</td>
                            {% endif %}


                            <td>{{value.totales1_kg|floatformat:2}}</td>
                            {% if numero_encuesta == "3" %}
                                <td>{{value.totales2_kg|floatformat:2}}</td>
                                <td class="last_datagroup_col format_diff">{{value.totales_diff|percent}}</td>
                            {% endif %}

                            <td>{{value.kg_por_metrocuadrado1|floatformat:2}}</td>
                            {% if numero_encuesta == "3" %}
                                <td>{{value.kg_por_metrocuadrado2|floatformat:2}}</td>
                                <td class="last_datagroup_col format_diff">{{value.kg_por_metrocuadrado_diff|percent}}</td>
                            {% endif %}


                            <td>{{value.consumo1|floatformat:2}}</td>
                            {% if numero_encuesta == "3" %}
                                <td>{{value.consumo2|floatformat:2}}</td>
                            {% endif %}

                            <td>{{value.consumo1_kg|floatformat:2}}</td>
                            {% if numero_encuesta == "3" %}
                                <td>{{value.consumo2_kg|floatformat:2}}</td>
                                <td class="last_datagroup_col format_diff">{{value.consumo_diff|percent}}</td>
                            {% endif %}


                            <td>{{value.precio1|floatformat:2}}</td>
                            {% if numero_encuesta == "3" %}
                                <td>
                                    {{value.precio2|floatformat:2}}
                                </td>
                                <td class="last_datagroup_col format_diff">{{value.precio_diff|percent}}</td>
                            {% endif %}


                            <td>{{value.valor1|floatformat:2}}</td>
                            {% if numero_encuesta == "3" %}
                                <td>{{value.valor2|floatformat:2}}</td>
                                <td class="format_diff">{{value.valor_diff|percent}}</td>
                            {% endif %}

                        </tr>
                        {%endfor%}

                    <tbody>
                    <tfoot>
                        <tr style="border-top:2px solid #000000">
                            <td colspan="2">Totales</td>

                            <td>{{ area1_total|floatformat:2 }}</td>

                            {% if numero_encuesta == "3" %}
                                <td>{{ area2_total|floatformat:2 }}</td>
                                <td class="format_diff">{{ area_total_diff|percent }}</td>
                            {% endif %}

                            <td></td>
                            {% if numero_encuesta == "3" %}
                                <td></td>
                            {% endif %}

                            <td>{{ totales1kg_total|floatformat:2 }}</td>
                            {% if numero_encuesta == "3" %}
                                <td>{{ totales2kg_total|floatformat:2 }}</td>
                                <td class="format_diff">{{ totaleskg_total_diff|percent }}</td>
                            {% endif %}

                            <td>{{ kg_por_metrocuadrado_total1|floatformat:2 }}</td>
                            {% if numero_encuesta == "3" %}
                                <td>{{ kg_por_metrocuadrado_total2|floatformat:2 }}</td>
                                <td class="format_diff">{{ kg_por_metrocuadrado_total_diff|percent }}</td>
                            {% endif %}

                            <td></td>
                            {% if numero_encuesta == "3" %}
                                <td></td>
                            {% endif %}

                            <td>{{ consumo1kg_total|floatformat:2 }}</td>
                            {% if numero_encuesta == "3" %}
                                <td>{{ consumo2kg_total|floatformat:2 }}</td>
                                <td class="format_diff">{{ consumokg_total_diff|percent }}</td>
                            {% endif %}

                            <td></td>
                            {% if numero_encuesta == "3" %}
                                <td></td>
                                <td></td>
                            {% endif %}

                            <td>{{ valor1_total|floatformat:2 }}</td>
                            {% if numero_encuesta == "3" %}
                                <td>{{ valor2_total|floatformat:2 }}</td>
                                <td class="format_diff">{{ valor_total_diff|percent }}</td>
                            {% endif %}
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <br/><br/><br/><br/>

        <div id="promedios_cultivos">
            <h3>Producción por familia <a href="#" class="exportar guardarXLS btn btn-warning" style="float:right" onclick="exportarXLS('promedios_cultivos'); return false;">Exportar en Excel</a></h3>
            <br/>
            <table  class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Producción por familia (Kg){% if numero_encuesta == "3" %}<br><small>Encuesta 1</small>{% endif %}</th>
                        {% if numero_encuesta == "3" %}
                            <th>Producción por familia (Kg)<br><small>Encuesta 2</small></th>
                            <th>Diferencia (%)</th>
                            <th>Diferencia (kg)</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ promedio_producion_por_familia_kg1|floatformat }}</td>
                        {% if numero_encuesta == "3" %}
                            <td>{{ promedio_producion_por_familia_kg2|floatformat }}</td>
                            <td class="format_diff">{{ promedio_producion_por_familia_diff_percent|percent }}</td>
                            <td class="format_diff">{{ promedio_producion_por_familia_diff_kg|floatformat }}</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>


        <br/><br/><br/><br/>

        <div id="productos_con_mas_rendimiento">
            <h3>Los cultivos con la más alta tasa de rendimiento (mas que 5000kg por ano)<a href="#" class="exportar guardarXLS btn btn-warning" style="float:right" onclick="exportarXLS('productos_con_mas_rendimiento'); return false;">Exportar en Excel</a></h3>
            <br/>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Productos con la más alta tasa de rendimiento{% if numero_encuesta == "3" %}<br><small>Encuesta 1</small>{% endif %}</th>
                        {% if numero_encuesta == "3" %}
                            <th>Productos con la más alta tasa de rendimiento<br><small>Encuesta 2</small></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {%for key, value in productos_con_mas_rendimiento1.items%}
                                {{ key|unslugify }} ({{ value|floatformat }} kg)<br/>
                            {% endfor %}
                        </td>
                        {% if numero_encuesta == "3" %}
                            <td>
                                {%for key, value in productos_con_mas_rendimiento2.items%}
                                    {{ key|unslugify }} ({{ value|floatformat }} kg)<br/>
                                {% endfor %}
                            </td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>


        <br/><br/><br/><br/>

        <div id="animales">
            <h3>Animales <a href="#" class="exportar guardarXLS btn btn-warning" style="float:right" onclick="exportarXLS('animales'); return false;">Exportar en Excel</a></h3>
            <br/>
            <table  class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Animales</th>
                        <th>Cantidad de personas que tienen animales{% if numero_encuesta == "3" %}<br><small>Encuesta 1</small>{% endif %}</th>
                        {% if numero_encuesta == "3" %}
                            <th>Cantidad de personas que tienen animales<br><small>Encuesta 2</small></th>
                            <th>Cantidad de personas que tienen animales<br><small>Diferencia</small></th>
                        {% endif %}
                        <th>% de personas que tienen animales{% if numero_encuesta == "3" %}<br><small>Encuesta 1</small>{% endif %}</th>
                        {% if numero_encuesta == "3" %}
                            <th>% de personas que tienen animales<br><small>Encuesta 2</small></th>
                            <th>% de personas que tienen animales<br><small>Diferencia</small></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {%for key, value in data.tablas.tabla_animales.items%}
                        <tr>
                            <td>{{ value.animal_nombre }}</td>
                            <td>{{ value.numero1 }}</td>
                            {% if numero_encuesta == "3" %}
                                <td>{{ value.numero2 }}</td>
                                <td class="format_diff">{{ value.numero_diff|percent }}</td>
                            {% endif %}
                            <td>{{ value.porcentaje_num1 }}</td>
                            {% if numero_encuesta == "3" %}
                                <td>{{ value.porcentaje_num2 }}</td>
                                <td class="format_diff">{{ value.porcentaje_diff }}</td>
                            {% endif %}
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>


{% endblock %}
