{% extends "basenueva_bootstrap.html" %}
{% load unslugify %}
{%block extra_header%}

{%endblock%}
{% block content %}
{% include "nuevos_informes/common/header_small.html" %}


    <h1>{{ indicador_name }}</h1>
    <table class="table table-condensed table-bordered table-striped">
        <tr>
            <td>Grupo:</td>
            <td>{{ grupo_name }}</td>
        </tr>
        <tr>
            <td>Numero de encuesta:</td>
            <td>{{ numero_encuesta_name }}</td>
        </tr>
        <tr>
            <td>Numero total de jovenes en este informe</td>
            <td>{{ numero_total_jovenes }}</td>
        </tr>
        <tr>
            <td>Numero total de encuestas en este informe</td>
            <td>{{ numero_total_encuestas }}</td>
        </tr>

        <tr>
            <td>Solo jovenes activados?</td>
            <td>à programmer</td>
        </tr>
    </table>

    <h2>Datos</h2>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#cultivos_finca" role="tab" data-toggle="tab">Cultivos en la finca</a></li>
      <li><a href="#cultivos_patio" role="tab" data-toggle="tab">Cultivos en el patio</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="cultivos_finca">
        <a href="#" class="exportar guardarXLS" onclick="exportarXLS('finca'); return false;">Exportar en Excel</a>
        <div id="finca">
            <h3>Cultivos en la finca</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>CULTIVOS</th>
                        <th>Unidad</th>
                        <th>Áreas</th>
                        <th>Total producción por año</th>
                        <th>Consumo por año</th>
                        <th>Precio promedio de venta en mercado promedio</th>
                    </tr>
                </thead>
                <tbody>
                    {%for key, value in tabla.items%}
                    <tr>
                        <td>{{key|unslugify}}</td>
                        <td>{{value.key2|unslugify}}</td>
                        <td>{{value.area|floatformat:2}}</td>
                        <td>{{value.totales|floatformat:2}}</td>
                        <td>{{value.consumo|floatformat:2}}</td>
                        <td>{{value.precio|floatformat:2}}</td>
                    </tr>
                    {%endfor%}
                <tbody>
            </table>
        </div>
      </div>
      <div class="tab-pane" id="cultivos_patio">
	    <a href="#" class="exportar guardarXLS" onclick="exportarXLS('patio'); return false;">Exportar en Excel</a>

        <div id="patio">
        <h3>Cultivos en el patio</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>CULTIVOS</th>
                    <th>Total producción por año</th>
                    <th>Consumo por año</th>
                    <th>Precio promedio de venta en mercado promedio</th>
                </tr>
            </thead>
            <tbody>
                {%for key, value in tabla_patio.items%}
                <tr>
                    <td>{{key|unslugify}}</td>
                    <td>{{value.totales|floatformat:2}}</td>
                    <td>{{value.consumo|floatformat:2}}</td>
                    <td>{{value.precio|floatformat:2}}</td>
                </tr>
                {%endfor%}
            <tbody>
        </table>
        </div>
      </div>
    </div>








{% endblock %}

