    {% load tools  %}

    <h2>Parametros <button class="btn btn-primary " style="float: right" data-toggle="modal" data-target="#parametros_modal">Cambiar los parámetros</button></h2>


    <!-- Modal Parametros -->
    <div class="modal fade" id="parametros_modal" tabindex="-1" role="dialog" aria-labelledby="parametros_modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
            <h4 class="modal-title" id="myModalLabel">Cambiar los parametros</h4>
          </div>
          <form action="/nuevos_informes/" method="POST">
          <div class="modal-body">
                <input type="hidden" name="informe_tipo" value="informes_nuevos"/>
                <div style="display:none">
                    <div class="form_widget date_widget">{{form.fecha}}<br>{{form.fecha.errors}}</div>
                    <div class="form_widget">{{form.sexo}}</div>
                    <div class="form_widget">{{form.departamento}}</div><br>
                    <div class="form_widget">{{form.municipio}}</div><br>
                    <div class="form_widget">{{form.comunidad}}</div>
                    <div class="form_widget">{{form.dueno}}</div>
                </div>
                <divid="formulario_nuevosinformes" class="cambiar_form_parametros">
                   <table class="table table-bordered">
                       <tr>
                           <td class="table_param_leftcol">Grupos</td>
                           <td>{{data.param_form.grupo}}<br>{{data.param_form.grupo.errors}}</td>
                       </tr>
                       <tr>
                           <td class="table_param_leftcol">Centros regionales</td>
                           <td>{{data.param_form.centroregional}}<br>{{data.param_form.centroregional.errors}}</td>
                       </tr>
                       <tr>
                           <td class="table_param_leftcol">Sexo</td>
                           <td>{{data.param_form.sexo_encuesta}}</td>
                       </tr>
                       <tr>
                           <td class="table_param_leftcol">Encuestas</td>
                           <td>{{data.param_form.numero_encuesta}}<br>{{data.param_form.numero_encuesta.errors}}
                               <div id="solo_jovenes_con_dos_wrapper">
                                   {{data.param_form.solo_jovenes_con_dos}} Utilizar solo los datos de jóvenes que tienen dos encuestas rellenadas?
                               </div>
                               <div id="solo_jovenes_activados">
                                   {{data.param_form.activo}} Solo jóvenes activos?
                               </div>
                           </td>
                       </tr>
                       <tr>
                           <td class="table_param_leftcol">Indicador</td>
                           <td>{{data.param_form.indicador}}<br>{{data.param_form.indicador.errors}}</td>
                       </tr>
                   </table>
                    <input type="submit" value="Consultar" class="consultar btn btn-primary"/>
                </div>


          </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal Encuestas/Jovenes -->
    <div class="modal fade large" id="jovenes_modal" tabindex="-1" role="dialog" aria-labelledby="jovenes_modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
            <h4 class="modal-title" id="myModalLabel">Encuestas utilizadas</h4>
          </div>
          <div class="modal-body">
            <table class="table table-responsive table-striped small">
                <tr>
                    <th>Encuestas utilizadas{% if numero_encuesta == "3" %}<br/><small>Encuesta 1</small>{% endif %}</th>
                    {% if numero_encuesta == "3" %}
                        <th>Encuestas utilizadas<br/><small>Encuesta 2</small></th>
                    {% endif %}
                </tr>
                <tr>
                    <td>
                        {% for enc in primera_encuesta %}

                            (<a href="/admin/encuesta/encuesta/{{ enc.id }}" target="_blank">Encuesta</a> | <a href="/admin/jovenes/joven/{{ enc.joven.id }}" target="_blank"/>Joven</a> | <a href="{{ request.path|este_informe_con_joven:enc.joven }}" target="_blank">Ver con solo este joven</a>) {{ enc.joven.nombre }} <br/>
                        {% endfor %}
                    </td>
                    {% if numero_encuesta == "3" %}
                        <td>
                        {% for enc in segunda_encuesta %}
                            (<a href="/admin/encuesta/encuesta/{{ enc.id }}" target="_blank">Encuesta</a> | <a href="/admin/jovenes/joven/{{ enc.joven.id }}" target="_blank"/>Joven</a> | <a href="{{ request.path|este_informe_con_joven:enc.joven }}" target="_blank">Ver con solo este joven</a>) {{ enc.joven.nombre }} <br/>
                        {% endfor %}
                        </td>
                    {% endif %}
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <table class="table table-condensed table-bordered table-striped " style="font-size: 85%">
        <tr>
            <td style="width:65%">Grupo(s):</td>
            <td>{{ data.strings.grupos_name }}</td>
        </tr>
        <tr>
            <td>Centro(s) Regional(es):</td>
            <td>{{ data.strings.centroregional_name }}</td>
        </tr>
        <tr>
            <td>Sexo:</td>
            <td>{{ data.strings.sexo_name }}</td>
        </tr>
        <tr>
            <td>Numero de encuesta:</td>
            <td>{{ data.strings.numero_encuesta_name }}</td>
        </tr>
        {% if numero_encuesta == "3" %}
        <tr>
            <td>Utilizar solo los datos de jóvenes que tienen dos encuestas rellenadas?</td>
            <td>
                {{ data.strings.solo_jovenes_con_dos_name }}
                {% if data.strings.solo_jovenes_con_dos_name_warning != "" %}
                    <div class="alert alert-warning" style="margin-bottom:0">
                        {{ data.strings.solo_jovenes_con_dos_name_warning }}
                    </div>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>Solo jóvenes activados?</td>
            <td>{{ data.strings.activo_name }}</td>
        </tr>
        <tr>
            <td>Numero total de encuestas utilizadas en estos calculos</td>
            <td>
                {{ data.strings.numero_total_encuestas1 }}{% if numero_encuesta == "3" %} (primera encuesta)
                    <br/>
                    {{ data.strings.numero_total_encuestas2 }} (segunda encuesta)


                {% endif %}


            </td>
        </tr>
        <tr>
            <td>Numero total de jovenes utilizados en estos calculos</td>
            <td>{{ data.strings.numero_total_jovenes1 }}{% if numero_encuesta == "3" %} (primera encuesta)
                <br/>
                {{ data.strings.numero_total_jovenes2 }} (segunda encuesta)
                    {% if data.strings.numero_total_jovenes1 != data.strings.numero_total_jovenes2 and solo_jovenes_con_dos == "1" %}
                        <div class="alert alert-danger">
                            <p>El número de jóvenes no concorde entre la primera y la segunda encuesta. Esto significa que unos jóvenes tienen encuestas duplicadas. Por favor pedir a los coordinadores de buscar cual jóvenes tienen encuestas duplicadas y borrarlas.</p>
                        </div>
                    {% endif %}
                {% endif %}
                <a href="#" style="float: right" data-toggle="modal" data-target="#jovenes_modal">Ver la lista</a>

            </td>
        </tr>
    </table>
