{% extends "basenueva.html" %}
{%load unslugify %}
{% block barra %}
<div class="indicadores">
	{% include "nav_tierra.html" %}
</div>
{% endblock %}
{% block extra_header %}
    <script type="text/javascript">
    $(document).ready(function() {
        $(".reforestacion").addClass("activa");
    });
    </script>
<script type="text/javascript">
    var activo = 0;
    function click_callback(id){
        $.getJSON('/grafo/arboles/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
</script>
<script type="text/javascript">
$(document).ready(function () {
    $('.grafo').click(function(){
        $('.grafo').each(function(){
            $(this).removeClass('grafohover');
        });
       $(this).addClass('grafohover');
    });
});
</script>
{% endblock %}
{% block content %}
{% include "encuestas/navegacion_superior.html" %}
<div class="nuevotitulo"><a href="/menu" id="volver">&#9668; MENÚ | </a>ÁRBOLES Y REFORESTACIÓN</div>
{% include "filtros.html" %}
<div class="sidebar"> 
   <div class="subindicador">Gráfico de tipo de árboles</a></div>
        <a id="grafico1" href="#" onCLick="click_callback('maderable')" class="grafo">Maderable</a>
        <a id="grafico2" href="#" onCLick="click_callback('forrajero')" class="grafo">Forrajero</a>
        <a id="grafico3" href="#" onCLick="click_callback('energetico')" class="grafo">Energético</a>
        <a id="grafico4" href="#" onCLick="click_callback('frutal')" class="grafo">Frutal</a>

    <div id="grafo"></div>
</div>

<div class="contenido mediatabla">
    <br>
     <a href="#" class="exportar guardarXLS" onclick="exportarXLS('arboles'); return false;"></a>
<div id="arboles">
     <table style="width:430px; margin:5px;">
        <caption>Existencia de árboles</caption>
        <thead>
            <tr>
                <th>TIPO</th>
                <th>TOTAL</th>
                <th>PROMEDIO/FINCA</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Maderables</td>
                <td>{{maderable}}</td>
                <td>{{pro_maderable}}</td>
                
            </tr>
            <tr>
                <td>Forrajeros</td>
                <td>{{forrajero}}</td>
                <td>{{pro_forrajero}}</td>
               
            </tr>
            <tr>
                <td>Energéticos</td>
                <td>{{energetico}}</td>
                <td>{{pro_energetico}}</td>
                
            </tr>
            <tr>
                <td>Frutales</td>
                <td>{{frutal}}</td>
                <td>{{pro_frutal}}</td>
               
            </tr>
        </tbody>
    </table>
    </div>
    
    <br>
         <a href="#" class="exportar guardarXLS" onclick="exportarXLS('reforest'); return false;"></a>
<div id="reforest">
    
    <table style="width:430px; margin:5px;">
    <caption>Reforestación</caption>
        <thead>
            <tr>
                <th>Actividad</th>
                <th>Frecuencia</th>
                <th>% Frec.</th>
                <th>Cantidad de árboles sembrados</th>
                
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.porcentaje_num|floatformat}}</td>
                <td>{{value.nativos|floatformat}}</td>
                
            </tr>
            {%endfor%}
        <tbody>
    </table>
    </div>
</div>
<div class="clean"></div>
{% endblock %}
