{% extends "basenueva.html"%}
{%load unslugify %}
{% block barra %}
<div class="indicadores">
	{% include "nav_suelo.html" %}
</div>
{% endblock %}

{% block extra_header %}
<script type="text/javascript">
    $(document).ready(function() {
        $(".manejo").addClass("activa");
    });
</script>
<script type="text/javascript">

    //si activo es 0 el html interno esta vacio
    //caso si activo es otro num sustituir grafico
    //si activo es el mismo id, esconder grafico
    var activo = 0; 
    function click_callback(id){
        $.getJSON('/grafo/manejosuelo/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
</script>
<script type="text/javascript">
$(document).ready(function () {
    $('.grafo').click(function(){
        $('.grafo').each(function(){
            $(this).removeClass('grafohover');
        });
        $(this).addClass('grafohover');
    });
});
</script>
{%endblock%}
{% block content %}
{% include "encuestas/navegacion_superior.html" %}
{% include "filtros.html" %}
<div class="nuevotitulo"><a href="/menu" id="volver">&#9668; MENÚ | </a>MANEJO DEL SUELO <div class="secciones"><a href="/manejosuelo" class="optionsbutton selected">Manejo de suelo</a><a href="/suelos" class="optionsbutton">Suelo</a></div></div>

<div class="sidebar">
        <div class="subindicador">Gráficos</a></div>
        <a href="#" id="grafico1" onCLick="click_callback('analisis')"class="grafo">Realiza análisis</a>
        <a href="#" id="grafico2" onCLick="click_callback('practica')"class="grafo">Realiza prácticas</a>
   <div id="grafo"></div>
</div>

<div class="contenido mediatabla">
         <a href="#" class="exportar guardarXLS" onclick="exportarXLS('terreno'); return false;"></a>
<div id="terreno">
    <table style="width:430px; margin:5px;">
        <caption>¿Cómo preparan sus terrenos?</caption>
        <thead>
            <tr>
                <th>Terrenos</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_terreno.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.preparan|floatformat}}</td>
                <td>{{value.por_preparan|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
         <a href="#" class="exportar guardarXLS" onclick="exportarXLS('traccion'); return false;"></a>
<div id="traccion">
    <table style="width:430px; margin:5px;">
    <caption>Tracción para la preparación del suelo</caption>
        <thead>
            <tr>
                <th>Tipo de tracción</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_traccion.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.traccion|floatformat}}</td>
                <td>{{value.por_traccion|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

         <a href="#" class="exportar guardarXLS" onclick="exportarXLS('fertiliza'); return false;"></a>
<div id="fertiliza">
    <table style="width:430px; margin:5px;">
        <caption>¿Qué tipo de fertilización realiza?</caption>
        <thead>
            <tr>
                <th>Tipos de fertilización</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_fertilizacion.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.fertilizacion|floatformat}}</td>
                <td>{{value.por_fertilizacion|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

         <a href="#" class="exportar guardarXLS" onclick="exportarXLS('conservacion'); return false;"></a>
<div id="conservacion">
    <table style="width:430px; margin:5px;">
        <caption>¿Tipo de obra de conservación de suelo?</caption>
        <thead>
            <tr>
                <th>Tipo de obra</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_obra.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.obra|floatformat}}</td>
                <td>{{value.por_obra|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
</div>
<div class="clean"></div>
{% endblock %}
