{% extends "basenueva.html"%}
{%load unslugify %}
{%block extra_header%}
<script type="text/javascript">
    $(document).ready(function() {
        $(".suelo").addClass("activa");
    });
</script>
{%endblock%}
{% block content %}
{% include "encuestas/navegacion_superior.html" %}
{% include "filtros.html" %}
<div class="nuevotitulo"><a href="/menu" id="volver">&#9668; MENU | </a>SUELO <div class="secciones"><a href="/manejosuelo" class="optionsbutton">Manejo Suelo</a><a href="/suelos" class="optionsbutton selected">Suelo</a></div></div>

<div class="contenido fulltabla">
                 <a href="#" class="exportar guardarXLS" onclick="exportarXLS('textura'); return false;"></a>
<div id="textura">
    <table  style="width:100%;margin:5px;">
        <caption>¿Cúal es el tipo de textura del suelo?</caption>
        <thead>
            <tr>
                <th>Texturas</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_textura.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.textura|floatformat}}</td>
                <td>{{value.por_textura|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

                 <a href="#" class="exportar guardarXLS" onclick="exportarXLS('profundidad'); return false;"></a>
<div id="profundiad">
    <table style="width:100%;margin:5px;">
        <caption>¿Cúal es la profundidad del suelo?</caption>
        <thead>
            <tr>
                <th>Profundidad</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_profundidad.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.profundidad|floatformat}}</td>
                <td>{{value.por_profundidad|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
                 <a href="#" class="exportar guardarXLS" onclick="exportarXLS('presencia'); return false;"></a>
<div id="presencia">
    <table  style="width:100%;margin:5px;">
        <caption>¿Cómo es la presencia de lombrice en el suelo?</caption>
        <thead>
            <tr>
                <th>Presencia de Lombrices</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_lombrices.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.lombrices|floatformat}}</td>
                <td>{{value.por_lombrices|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
                 <a href="#" class="exportar guardarXLS" onclick="exportarXLS('densidad'); return false;"></a>
<div id="densidad">
    <table  style="width:100%;margin:5px;">
        <caption>¿Cómo es la densidad de raiz en la capa productiva de suelo?</caption>
        <thead>
            <tr>
                <th>Densidad</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_densidad.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.densidad|floatformat}}</td>
                <td>{{value.por_densidad|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
                 <a href="#" class="exportar guardarXLS" onclick="exportarXLS('terreno'); return false;"></a>
<div id="terreno">
    <table  style="width:100%;margin:5px;">
        <caption>¿Cúal es la pendiente del terreno?</caption>
        <thead>
            <tr>
                <th>Pendientes</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_pendiente.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.pendiente|floatformat}}</td>
                <td>{{value.por_pendiente|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
                 <a href="#" class="exportar guardarXLS" onclick="exportarXLS('drenaje'); return false;"></a>
<div id="drenaje">
    <table style="width:100%;margin:5px;">
        <caption>¿Cómo es el drenaje del suelo?</caption>
        <thead>
            <tr>
                <th>Drenaje</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_drenaje.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.drenaje|floatformat}}</td>
                <td>{{value.por_drenaje|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
                 <a href="#" class="exportar guardarXLS" onclick="exportarXLS('materia'); return false;"></a>
<div id="materia">
    <table style="width:100%;margin:5px;">
    <caption>¿Cómo es el contenido de materia orgánica?</caption>
        <thead>
            <tr>
                <th>Contenido</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_materia.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.materia|floatformat}}</td>
                <td>{{value.por_materia|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
</div>
<div class="clean"></div>
{% endblock %}
