{% extends "basenueva.html"%}
{%load unslugify %}
{%block extra_header%}
    <script type="text/javascript">
    $(document).ready(function() {
        $(".mitigariesgos").addClass("activa");
    });
    </script>
{%endblock%}
{% block barra %}
<div class="indicadores">
	{% include "nav_riesgos.html" %}
</div>
{% endblock %}

{% block content %}

{% include "filtros.html" %}
<div class="contenido fulltabla">
<div class="subindicador">RIESGO &raquo; Mitigación de los Riesgos<a href="#" class="exportar"></a></div>
    <table style="width:100%;">
        <caption></caption>
        <thead>
            <tr>
                <th>Preguntas</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.mitigacion|floatformat}}</td>
                <td>{{value.por_mitigacion|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<div class="clean"></div>
{% endblock %}
