{% extends "basenueva.html" %}

{% block extra_header %}
<script type="text/javascript" src="{{STATIC_URL}}js/highcharts.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/exporting.js"></script>
<script type="text/javascript">
var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container',
         defaultSeriesType: 'pie',
         plotBackgroundColor: null,
         plotBorderWidth: null,
         plotShadow: false
      },
      title: {
         text: 'Nivel de fermentación que maneja y aplica'
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: true,
               //color: Highcharts.theme.textColor || '#000000',
               //connectorColor: Highcharts.theme.textColor || '#000000',
               formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
               }
            },
            showInLegend: true
         }
      },
       series: [{data: [{% for value in nivel_fermentacion %}
                    ['{{value.0}}',
                    {{value.2}}],
                {% endfor %}]
                
                }]
   });
});


var chart1
$(document).ready(function() {
chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container1',
         defaultSeriesType: 'pie',
         plotBackgroundColor: null,
         plotBorderWidth: null,
         plotShadow: false
      },
      title: {
         text: 'Nivel de humedad que maneja en el secado'
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: true,
               //color: Highcharts.theme.textColor || '#000000',
               //connectorColor: Highcharts.theme.textColor || '#000000',
               formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
               }
            },
            showInLegend: true
         }
      },
       series: [{data: [{% for value in nivel_secado %}
                    ['{{value.0}}',
                    {{value.2}}],
                {% endfor %}]
                
                }]
   });
});

var chart2
$(document).ready(function() {
chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container2',
         defaultSeriesType: 'pie',
         plotBackgroundColor: null,
         plotBorderWidth: null,
         plotShadow: false
      },
      title: {
         text: '¿Hay algún centro de acopio de cacao en la comunidad, comarca, zona o municipio al cual usted entregue su cacao?'
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: true,
               //color: Highcharts.theme.textColor || '#000000',
               //connectorColor: Highcharts.theme.textColor || '#000000',
               formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
               }
            },
            showInLegend: true
         }
      },
       series: [{data: [{% for value in nivel_acopio %}
                    ['{{value.0}}',
                    {{value.2}}],
                {% endfor %}]
                
                }]
   });
});

var chart3
$(document).ready(function() {
chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container3',
         defaultSeriesType: 'pie',
         plotBackgroundColor: null,
         plotBorderWidth: null,
         plotShadow: false
      },
      title: {
         text: '¿Si usted es socio, asociado o miembro de algún centro de acopio de cacao?'
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: true,
               //color: Highcharts.theme.textColor || '#000000',
               //connectorColor: Highcharts.theme.textColor || '#000000',
               formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
               }
            },
            showInLegend: true
         }
      },
       series: [{data: [{% for value in nivel_socio %}
                    ['{{value.0}}',
                    {{value.2}}],
                {% endfor %}]
                
                }]
   });
});
</script>
<script type="text/javascript">
$(document).ready(function () {
    //Esconde todas las divs , muestra la primera tab con su div
    $('.escondete').hide();
    $('#tablatab1').show();
    $('#1').addClass('activa');
    
    // cuando click en una tab enconde todas y muestra la deseada
    $('.tab').click(function(){
        $('.tab').each(function(){
            $(this).removeClass("activa");
        });
        $(this).addClass('activa');
        $(".escondete").hide();
        var id = $(this).attr("id");
        $('#tablatab'+id).show();
        return false;
    });
});
</script>
{%endblock%}
{% block barra %}
<div class="indicadores">
    <div id="contenedor_igual">
        <a href="#" class="tab" id="1" >Nivel de fermentación</a>   
        <a href="#" class="tab"  id="2">Nivel de humedad</a>    
        <a href="#" class="tab" id="3" >Acopio de cacao</a>
        <a href="#" class="tab" id="4" >Miembro de acopio</a>
    
    </div>
</div>
{% endblock %}
{%block content%}
{% include "filtros.html" %}
<div id="tablatab1" class="escondete">
    <div class="contenedor">
    <div id="container"></div>
    </div>
</div>

<div id="tablatab2" class="escondete">
    <div class="contenedor">
    <div id="container1"></div>
    </div>
</div>

<div id="tablatab3" class="escondete">
    <div class="contenedor">
    <div id="container2"></div>
    </div>
</div>

<div id="tablatab4" class="escondete">
    <div class="contenedor">
    <div id="container3"></div>
    </div>
</div>
<div class="clean"></div>
{%endblock%}
