{% extends "basenueva.html" %}

{% block extra_header %}
<script type="text/javascript" src="{{STATIC_URL}}js/highcharts.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/exporting.js"></script>
<script type="text/javascript">
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'vivero'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (que dijeron Si)'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for value in dicc1 %}
                {
                    name: '{{value.0}}',
                    data: [{{value.1}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });
    
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container1',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Práctica de fertilización'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (que dijeron Si)'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for value in dicc2 %}
                {
                    name: '{{value.0}}',
                    data: [{{value.1}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });
    
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container2',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Prácticas de manejo fitosanitario'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (que dijeron Si)'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for value in dicc3 %}
                {
                    name: '{{value.0}}',
                    data: [{{value.1}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });
    
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container3',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Prácticas de manejo productivo'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (que dijeron Si)'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for value in dicc4 %}
                {
                    name: '{{value.0}}',
                    data: [{{value.1}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });
    
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container4',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Prácticas de mejoramiento genético de la plantación'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (que dijeron Si)'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for value in dicc5 %}
                {
                    name: '{{value.0}}',
                    data: [{{value.1}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });
    
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container5',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Prácticas de manejo postcosecha y beneficiado'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (que dijeron Si)'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for value in dicc6 %}
                {
                    name: '{{value.0}}',
                    data: [{{value.1}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });
</script>
<script type="text/javascript">
$(document).ready(function () {
    //Esconde todas las divs , muestra la primera tab con su div
    $('.escondete').hide();
    $('#tablatab1').show();
    $('#1').addClass('activa');
    
    // cuando click en una tab enconde todas y muestra la deseada
    $('.tab').click(function(){
        $('.tab').each(function(){
            $(this).removeClass("activa");
        });
        $(this).addClass('activa');
        $(".escondete").hide();
        var id = $(this).attr("id");
        $('#tablatab'+id).show();
        return false;
    });
});
</script>
{% endblock %}
{% block barra %}
<div class="indicadores">
    <div id="contenedor_igual">
        <a href="#" class="tab" id="1" >Vivero</a>   
        <a href="#" class="tab"  id="2">Fertilización</a>    
        <a href="#" class="tab" id="3" >Manejo fitosanitario</a>
        <a href="#" class="tab" id="4" >Manejo productivo</a>
        <a href="#" class="tab" id="5" >Mejoramiento Genético</a>
        <a href="#" class="tab" id="6" >Manejo Postcosecha</a>        
    </div>
</div>
{% endblock %}
{%block content%}
{% include "filtros.html" %}
<div class="contenido fulltabla">

<div id="tablatab1" class="escondete">
<div class="subindicador">Vivero practicas<a href="#" class="exportar"></a></div>
    <table style="width:100%;">
            <thead>
                <tr>
                    <th>Prácticas</th>
                    <th>Frecuencia</th>
                    <th>porcentajes(%)</th>
                </tr>
            </thead>
            <tbody>
                {%for key, value in dicc1 %}
                <tr>
                    <td>{{key}}</td>
                    {%for i in value%}
                        <td>{{i|floatformat}}</td>    
                    {%endfor%}
               {%endfor%}
            </tbody>
    </table>
    <div class="contenedor">
        <div class="grafico-title"></div>
        <div id="container"></div>
    </div>
</div>

<div id="tablatab2" class="escondete">
<div class="subindicador">Práctica de fertilización<a href="#" class="exportar"></a></div>
    <table style="width:100%;">
            <thead>
                <tr>
                    <th>Prácticas</th>
                    <th>Frecuencia</th>
                    <th>porcentajes(%)</th>
                </tr>
            </thead>
            <tbody>
                {%for key, value in dicc2 %}
                <tr>
                    <td>{{key}}</td>
                    {%for i in value%}
                        <td>{{i|floatformat}}</td>    
                    {%endfor%}
               {%endfor%}
            </tbody>
    </table>
    <div class="contenedor">
        <div class="grafico-title"></div>
        <div id="container1"></div>
    </div>
</div>
<div id="tablatab3" class="escondete">
<div class="subindicador">Prácticas de manejo fitosanitario<a href="#" class="exportar"></a></div>
    <table style="width:100%;">
            <thead>
                <tr>
                    <th>Prácticas</th>
                    <th>Frecuencia</th>
                    <th>porcentajes(%)</th>
                </tr>
            </thead>
            <tbody>
                {%for key, value in dicc3 %}
                <tr>
                    <td>{{key}}</td>
                    {%for i in value%}
                        <td>{{i|floatformat}}</td>    
                    {%endfor%}
               {%endfor%}
            </tbody>
    </table>
    <div class="contenedor">
        <div class="grafico-title"></div>
        <div id="container2"></div>
    </div>
</div>
<div id="tablatab4" class="escondete">
<div class="subindicador">Prácticas de manejo productivo<a href="#" class="exportar"></a></div>
    <table style="width:100%;">
            <thead>
                <tr>
                    <th>Prácticas</th>
                    <th>Frecuencia</th>
                    <th>porcentajes(%)</th>
                </tr>
            </thead>
            <tbody>
                {%for key, value in dicc4 %}
                <tr>
                    <td>{{key}}</td>
                    {%for i in value%}
                        <td>{{i|floatformat}}</td>    
                    {%endfor%}
               {%endfor%}
            </tbody>
    </table>
    <div class="contenedor">
        <div class="grafico-title"></div>
        <div id="container3"></div>
    </div>
</div>
<div id="tablatab5" class="escondete">
<div class="subindicador">Prácticas de mejoramiento genético de la plantación<a href="#" class="exportar"></a></div>
    <table style="width:100%;">
            <thead>
                <tr>
                    <th>Prácticas</th>
                    <th>Frecuencia</th>
                    <th>porcentajes(%)</th>
                </tr>
            </thead>
            <tbody>
                {%for key, value in dicc5 %}
                <tr>
                    <td>{{key}}</td>
                    {%for i in value%}
                        <td>{{i|floatformat}}</td>    
                    {%endfor%}
               {%endfor%}
            </tbody>
    </table>
    <div class="contenedor">
        <div class="grafico-title"></div>
        <div id="container4"></div>
    </div>
</div>
<div id="tablatab6" class="escondete">
<div class="subindicador">Prácticas de manejo postcosecha y beneficiado<a href="#" class="exportar"></a></div>
    <table style="width:100%;">
            <thead>
                <tr>
                    <th>Prácticas</th>
                    <th>Frecuencia</th>
                    <th>porcentajes(%)</th>
                </tr>
            </thead>
            <tbody>
                {%for key, value in dicc6 %}
                <tr>
                    <td>{{key}}</td>
                    {%for i in value%}
                        <td>{{i|floatformat}}</td>    
                    {%endfor%}
               {%endfor%}
            </tbody>
    </table>
    <div class="contenedor">
        <div class="grafico-title"></div>
        <div id="container5"></div>
    </div>
</div>
</div>
<div class="clean"></div>
{%endblock%}
