{% extends "basenueva.html"%}
{%load unslugify %}
{% block barra %}
{% endblock %}

{%block content%}
{% include "encuestas/navegacion_superior.html" %} 
{% include "filtros.html" %}
<div class="contenido fulltabla">
    <div class="nuevotitulo"><a href="/menu" id="volver">&#9668; MENU | </a>CULTIVOS</div>
	<a href="#" class="exportar guardarXLS" onclick="exportarXLS('finca'); return false;"></a>
	<div class="clean"></div>
    <div id="finca">	
    <table style="width:100%;">
        <caption>Los cultivos en la finca</caption>
        <thead>
            <tr>
                <th>CULTIVOS</th>
                <th>Unidad</th>
                <th>Areas</th>
                <th>Total producción por año</th>
                <th>Consumo por año</th>
                <th>Precio promedio de venta en mercado promedio</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.area|floatformat:2}}</td>
                <td>{{value.totales|floatformat:2}}</td>
                <td>{{value.consumo|floatformat:2}}</td>
                <td>{{value.precio|floatformat:2}}</td>
            </tr>
            {%endfor%}
        <tbody>
    </table>
    </div>
	<a href="#" class="exportar guardarXLS" onclick="exportarXLS('patio'); return false;"></a>
	<div class="clean"></div>
    <div id="patio">	
    <table style="width:100%;">
        <caption>Los cultivos en el patio</caption>
        <thead>
            <tr>
                <th>CULTIVOS</th>
                <th>Total producción por año</th>
                <th>Consumo por año</th>
                <th>Precio promedio de venta en mercado promedio</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_patio.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.totales|floatformat:2}}</td>
                <td>{{value.consumo|floatformat:2}}</td>
                <td>{{value.precio|floatformat:2}}</td>
            </tr>
            {%endfor%}
        <tbody>
    </table>
    </div>
</div>
<div class="clean"></div>
{%endblock%}
