{% extends "basenueva.html"%}
{%load unslugify %}
{% block barra %}
{% endblock %}

{%block content%}
{% include "filtros.html" %}
<div class="contenido fulltabla">
	<div class="subindicador">>>Los cultivos en la finca<a href="#" class="exportar"></a></div>
    <table style="width:100%;">
        <thead>
            <tr>
                <th>CULTIVOS</th>
                <th>Unidad</th>
                <th>Areas</th>
                <th>Total producción por año</th>
                <th>Consumo por año</th>
                <th>Precio promedio de venta en mercado promedio</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.area|floatformat:2}}</td>
                <td>{{value.totales|floatformat:2}}</td>
                <td>{{value.consumo|floatformat:2}}</td>
                <td>{{value.precio|floatformat:2}}</td>
            </tr>
            {%endfor%}
        <tbody>
    </table>
    <div class="subindicador">>>Los cultivos en el patio<a href="#" class="exportar"></a></div>
    <table style="width:100%;">
        <thead>
            <tr>
                <th>CULTIVOS</th>
                <th>Total producción por año</th>
                <th>Consumo por año</th>
                <th>Precio promedio de venta en mercado promedio</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_patio.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.totales|floatformat:2}}</td>
                <td>{{value.consumo|floatformat:2}}</td>
                <td>{{value.precio|floatformat:2}}</td>
            </tr>
            {%endfor%}
        <tbody>
    </table>
</div>
<div class="clean"></div>
{%endblock%}
