{% extends "basenueva.html"%}
{%load unslugify %}
{% block titulo %}
Uso de Semilla
<div class="cambiar_indicador"><a href="#" id="mas">Cambiar indicador <span id="estado" class="estadouno"><img src="/archivos/imagen/menos.png"/></span></a></div>
{% endblock%}
{% block content %}
{% include "encuestas/navegacion_superior.html" %}
<div class="nuevotitulo"><a href="/menu" id="volver">&#9668; MENÚ | </a>SEMILLAS</div>
{% include "filtros.html" %}

<div class="contenido fulltabla">
     <a href="#" class="exportar guardarXLS" onclick="exportarXLS('semilla'); return false;"></a>
     <div class="clean"></div>
<div id="semilla">
    <table style="width:100%;">
        <caption>Uso de semilla</caption>
        <thead>
            <tr>
                <th>Cultivo</th>
                <th>Variedad</th>
                <th>Frecuencia</th>
                <th>%</th>
                <th>Nativos</th>
                <th>%</th>
                <th>Introducidos</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for k in lista%}
            <tr>
                <td>{{k.1|unslugify}}</td>
                <td>{{k.0|unslugify}}</td>
                <td>{{k.2|floatformat}}</td>
                <td>{{k.3|floatformat}}</td>
                <td>{{k.4|floatformat}}</td>
                <td>{{k.5|floatformat}}</td>
                <td>{{k.6|floatformat}}</td>
                <td>{{k.7|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
    <br></br><br></br>
</div>
<div class="clean"></div>
{% endblock %}
