{% extends "basenueva.html" %}
{%block extra_header%}
{%endblock%}
{%block content%}
{% include "encuestas/navegacion_superior.html" %} 
<div class="nuevotitulo">Selección de indicadores</div>
<div id="indicadores">
    <div id="contenedor_indicadores" class="familiagroup">
        <img src="{{STATIC_URL}}img/familia.jpg">
        <a href="/educacion?v={{request.session.crce}}">Familias</a>
        <a href="/gremial?v={{request.session.crce}}">Organización</a>
        <a href="/vulnerable?v={{request.session.crce}}">Riesgos que hacen la finca vulnerable</a>
        <a href="/mitigariesgos?v={{request.session.crce}}">Gestión de riesgos</a>
        <div class="clean"></div>
    </div>
    <div id="contenedor_indicadores" class="ingresogroup">
        <img src="{{STATIC_URL}}img/ingresos.jpg">
        

        <a href="/ingresos?v={{request.session.crce}}">Ingresos</a>
        <a href="/equipos?v={{request.session.crce}}">Bienes</a>
        <a href="/ahorro_credito?v={{request.session.crce}}">Ahorro y créditos</a>

        <div class="clean"></div>
    </div>
    <div id="contenedor_indicadores" class="suelogroup" >
        <img src="{{STATIC_URL}}img/tierra.jpg">
        <a href="/animales?v={{request.session.crce}}">Animales</a>
        <a href="/fincas?v={{request.session.crce}}">Tierra</a>
        <a href="/cultivos?v={{request.session.crce}}">Cultivos</a>

        <a href="/suelos?v={{request.session.crce}}">Suelo</a>

        <a href="/arboles?v={{request.session.crce}}">Árboles y reforestación</a>
        <a href="/usosemilla?v={{request.session.crce}}">Uso de semilla</a>
        <div class="clean"></div>
    </div>
    <div id="contenedor_indicadores" class="comercializaciongroup" >
        <img src="{{STATIC_URL}}img/comercializacion2.jpg">
               <a href="/opcionesmanejo?v={{request.session.crce}}">Opciones de manejo</a>
                <a href="/participacion?v={{request.session.crce}}">Participación de la familia</a>
        <a href="/seguridad?v={{request.session.crce}}">Seguridad alimentaria</a>
        <a href="/sistematizacion?v={{request.session.crce}}">Observación sistemática</a>
        <a href="/procesamiento?v={{request.session.crce}}">Procesamiento y comercialización</a>
        
        <div class="clean"></div>
    </div>
    <div class="clean"></div>
</div>
{%endblock%}
