{% extends "basenueva.html" %}
{%block extra_header%}
{%endblock%}
{%block content%}
<div id ="navegacion">
    <div id ="botones-nav">
        <a href="/"><img src="{{STATIC_URL}}img/proga_nav.png"></a>
        <a href="/"><img src="{{STATIC_URL}}img/inicio_nav.png"></a>
        <a href="/admin"><img src="{{STATIC_URL}}img/admin_nav.png"></a>
    </div>
</div>
<div class="nuevotitulo">Seleccion de indicadores</div>
<div id="indicadores">
    <div id="contenedor_indicadores" class="familiagroup">
        <img src="{{STATIC_URL}}img/familia.jpg">
        <a href="/educacion">Familias</a>
        <a href="/gremial">Organización</a>
        <a href="/vulnerable">Riesgos</a>
        <a href="/seguridad">Seguridad alimentaria</a>
        <a href="/genero">Género</a>
        <div class="clean"></div>
    </div>
    <div id="contenedor_indicadores" class="ingresogroup">
        <img src="{{STATIC_URL}}img/ingresos.jpg">
        <a href="/ingresos">Ingresos</a>
        <a href="/equipos">Bienes</a>
        <div class="clean"></div>
    </div>
    <div id="contenedor_indicadores" class="suelogroup" >
        <img src="{{STATIC_URL}}img/tierra.jpg">
        <a href="/fincas">Tierra</a>
        <a href="/animales">Ánimales</a>
        <a href="/cultivos">Cultivos</a>
        <a href="/opcionesmanejo">Opciones de manejo</a>
        <a href="/suelos">Suelo</a>
        <div class="clean"></div>
    </div>
    <div id="contenedor_indicadores" class="comercializaciongroup" >
        <img src="{{STATIC_URL}}img/comercializacion2.jpg">
        <a href="/comercializacion">Comercialización</a>
        <a href="/vivero">Estado Producción</a>
        <a href="/tecnica">Técnicas Agrícolas</a>
        <a href="/niveles">Niveles</a>
        <div class="clean"></div>
    </div>
    <div class="clean"></div>
</div>
{%endblock%}
