{% extends "basenueva.html" %}
{%block extra_header%}
{%endblock%}
{%block content%}
{% include "encuestas/navegacion_superior.html" %} 
<div class="nuevotitulo">Seleccion de indicadores</div>
<div id="indicadores">
    <div id="contenedor_indicadores" class="familiagroup">
        <img src="{{STATIC_URL}}img/familia.jpg">
        <a href="/educacion">Familias</a>
        <a href="/gremial">Organización</a>
        <a href="/sistematizacion">Observación sistemática</a>
        <a href="/procesamiento">Procesamiento y comercialización</a>
        <div class="clean"></div>
    </div>
    <div id="contenedor_indicadores" class="ingresogroup">
        <img src="{{STATIC_URL}}img/ingresos.jpg">
        <a href="/animales">Animales</a>
        <a href="/cultivos">Cultivos finca/patio</a>
        <a href="/ingresos">Ingresos</a>
        <a href="/equipos">Bienes</a>
        <a href="/arboles">Arboles y reforestación</a>
        <a href="/usosemilla">Uso de semilla</a>
        <div class="clean"></div>
    </div>
    <div id="contenedor_indicadores" class="suelogroup" >
        <img src="{{STATIC_URL}}img/tierra.jpg">
        <a href="/fincas">Tierra</a>
        <a href="/pastos">Cultivo de pastos</a>
        <a href="/opcionesmanejo">Opciones de manejo</a>
        <a href="/suelos">Suelo</a>
        <a href="/manejosuelo">Manejo del suelo</a>
        <a href="/participacion">Participación de la familia</a>
        <div class="clean"></div>
    </div>
    <div id="contenedor_indicadores" class="comercializaciongroup" >
        <img src="{{STATIC_URL}}img/comercializacion2.jpg">
        <a href="/agua">agua</a>
        <a href="/seguridad">Seguridad alimentaria</a>
        <a href="/vulnerable">Riesgos que hace la finca vulnerable</a>
        <a href="/mitigariesgos">Gestión de riesgos</a>
        <a href="/ahorro_credito">Ahorro y créditos</a>
        <div class="clean"></div>
    </div>
    <div class="clean"></div>
</div>
{%endblock%}
