{% extends "basenueva.html"%}
{%load unslugify %}

{% block content %}
{% include "encuestas/navegacion_superior.html" %}
<div class="nuevotitulo"><a href="/menu" id="volver">&#9668; MENÚ | </a>OPCIONES DE MANEJO</div>
{% include "filtros.html" %}

<div class="contenido fulltabla">
                 <a href="#" class="exportar guardarXLS" onclick="exportarXLS('conocimiento'); return false;"></a>
<div id="conocimiento">
    <table style="width:100%;margin:5px;">
        <caption>Nivel de conocimiento</caption>
        <thead>
            <tr>
                <th>Uso de manejo agro.</th>
                <th>Nada</th>
                <th>%</th>
                <th>Poco</th>
                <th>%</th>
                <th>Algo</th>
                <th>%</th>
                <th>Bastante</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.nada|floatformat}}</td>
                <td>{{value.por_nada|floatformat}}</td>
                <td>{{value.poco|floatformat}}</td>
                <td>{{value.por_poco|floatformat}}</td>
                <td>{{value.algo|floatformat}}</td>
                <td>{{value.por_algo|floatformat}}</td>
                <td>{{value.bastante|floatformat}}</td>
                <td>{{value.por_bastante|floatformat}}
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div><br>
                 <a href="#" class="exportar guardarXLS" onclick="exportarXLS('expiremento'); return false;"></a>
<div id="expiremento">
     <table style="width:100%;margin:5px;">
         <caption>Ha experimentado</caption>
        <thead>
            <tr>
                <th>Uso de manejo agro.</th>
                <th>Menor escala (Sí)</th>
                <th>%</th>
                <th>Mayor escala (Sí)</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_escala.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.menor_escala|floatformat}}</td>     
                <td>{{value.por_menor_escala|floatformat}}</td>
                <td>{{value.mayor_escala|floatformat}}</td>
                <td>{{value.por_mayor_escala|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
    <br></br><br></br>
</div>
<div class="clean"></div>
{% endblock %}
