{% extends "basenueva.html" %}
{%load unslugify %}
{% block barra %}
{% endblock %}

{% block content %}
{% include "filtros.html" %}
<div class="contenido fulltabla">
	<div class="subindicador">Los Animales<a href="#" class="exportar"></a></div>
    <table>
        <caption>Los Animales</caption>
        <thead>
            <tr>
                <th>Animales</th>
                <th>Cantidad</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for fila in tabla_animales%}
            <tr>
                {%for celda in fila%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<div class="clean"></div>

{% endblock %}
