{% extends "basenueva.html" %}
{%load unslugify %}
{%block extra_header%}
<script type="text/javascript">
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Procesamiento y comercialización'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (que dijeron Si)'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 35,
                    minPointLength : 1
                }
            },
            series: [{% for value in tabla_animales %}
                {
                    name: '{{value.0|unslugify}}',
                    data: [{{value.2|floatformat:2}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });
</script> 
{%endblock%}

{% block content %}
{% include "encuestas/navegacion_superior.html" %} 
{% include "filtros.html" %}
<div class="contenido fulltabla">
    <div class="nuevotitulo"><a href="/menu" id="volver">&#9668; MENU | </a>ANIMALES</div>
	<a href="#" class="exportar guardarXLS" onclick="exportarXLS('animales'); return false;"></a>
	<div class="clean"></div>


    <div id="animales">	
    <table style="width:100%;">
        <caption>Los Animales</caption>
        <thead>
            <tr>
                <th>Animales</th>
                <th>Cantidad</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for fila in tabla_animales%}
            <tr>
                {%for celda in fila%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
    <div id="container"> </div>
</div>
<div class="clean"></div>

{% endblock %}
